<?xml version="1.0"?>
<config>
    <modules>
        <Gri_Core>
            <version>1.0.3</version>
        </Gri_Core>
    </modules>
    <global>
        <resources>
            <gri_core_setup>
                <setup>
                    <module>Gri_Core</module>
                </setup>
            </gri_core_setup>
        </resources>
        <models>
            <gri_core>
                <class>Gri_Core_Model</class>
                <resourceModel>gri_core_resource</resourceModel>
            </gri_core>
            <gri_core_resource>
                <class>Gri_Core_Model_Resource</class>
                <entities>
                    <ip_to_country>
                        <table>gri_core_ip_to_country</table>
                    </ip_to_country>
                </entities>
            </gri_core_resource>
            <core>
                <rewrite>
                    <url>Gri_Core_Model_Url</url>
                    <email_template>Gri_Core_Model_Email_Template</email_template>
                    <store>Gri_Core_Model_Store</store>
                    <locale>Gri_Core_Model_Locale</locale>
                </rewrite>
            </core>
            <currencysymbol>
                <rewrite>
                    <system_currencysymbol>Gri_Core_Model_System_Currencysymbol</system_currencysymbol>
                </rewrite>
            </currencysymbol>
        </models>
        <blocks>
            <gri_core>
                <class>Gri_Core_Block</class>
            </gri_core>
        </blocks>
        <helpers>
            <gri_core>
                <class>Gri_Core_Helper</class>
            </gri_core>
            <core>
                <rewrite>
                    <data>Gri_Core_Helper_Core_Data</data>
                </rewrite>
            </core>
        </helpers>
    </global>
    <frontend>
        <routers>
            <gri_core>
                <use>standard</use>
                <args>
                    <module>Gri_Core</module>
                    <frontName>gri_core</frontName>
                </args>
            </gri_core>
        </routers>
        <events>
            <!-- Use controller_action_predispatch_cms_index_index for home page only -->
            <controller_action_predispatch>
                <observers>
                    <gri_ip_redirection>
                        <class>gri_core/observer</class>
                        <method>ipBasedRedirection</method>
                    </gri_ip_redirection>
                    <gri_change_currency>
                        <class>gri_core/observer</class>
                        <method>changeCurrency</method>
                    </gri_change_currency>
                    <remove_store_cookie>
                        <class>gri_core/observer</class>
                        <method>removeStoreCookie</method>
                    </remove_store_cookie>
                </observers>
            </controller_action_predispatch>
        </events>
        <translate>
            <modules>
                <Gri_Core>
                    <files>
                        <default>Gri_Core.csv</default>
                    </files>
                </Gri_Core>
            </modules>
        </translate>
    </frontend>
    <adminhtml>
        <events>
            <!-- Overrides Mage_Admin_Model_Observer::actionPreDispatchAdmin() -->
            <controller_action_predispatch>
                <observers>
                    <auth>
                        <type>disabled</type>
                    </auth>
                    <gri_auth>
                        <class>gri_core/admin_observer</class>
                        <method>actionPreDispatchAdmin</method>
                    </gri_auth>
                </observers>
            </controller_action_predispatch>
            <!-- End of Override -->
        </events>
    </adminhtml>
    <default>
        <ip>
            <general>
                <message><![CDATA[Our shopping site currently <strong>only ships to customers in Mainland China</strong><br />
(not including Hong Kong, Macau and Taiwan)]]></message>
                <content>MY:USD
SG:USD
TH:USD
TW:USD
                </content>
                <show_popup>1</show_popup>
            </general>
        </ip>
    </default>
</config>
