<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Gri_CheckoutCustom>
            <version>1.0.0</version>
        </Gri_CheckoutCustom>
    </modules>
    <global>
        <models>
            <gri_checkoutcustom>
                <class>Gri_CheckoutCustom_Model</class>
                <resourceModel>gri_checkoutcustom_resource</resourceModel>
            </gri_checkoutcustom>
            <checkout>
                <rewrite>
                    <type_onepage>Gri_CheckoutCustom_Model_Type_Onepage</type_onepage>
                </rewrite>
            </checkout>
        </models>
        <blocks>
            <gri_checkoutcustom>
                <class>Gri_CheckoutCustom_Block</class>
            </gri_checkoutcustom>
            <checkout>
                <rewrite>
                    <cart>Gri_CheckoutCustom_Block_Cart</cart>
                    <onepage_login>Gri_CheckoutCustom_Block_Onepage_Login</onepage_login>
                    <onepage_review_info>Gri_CheckoutCustom_Block_Onepage_Review_Info</onepage_review_info>
                </rewrite>
            </checkout>
        </blocks>
        <rewrite>
            <gri_checkoutcustom_cart>
                <from><![CDATA[#^/checkout/cart/#]]>
                </from>
                <to>/checkoutcustom/cart/</to>
            </gri_checkoutcustom_cart>
            <gri_checkoutcustom_onepage>
                <from><![CDATA[#^/checkout/onepage/#]]>
                </from>
                <to>/checkoutcustom/onepage/</to>
            </gri_checkoutcustom_onepage>
        </rewrite>
        <helpers>
            <gri_checkoutcustom>
                <class>Gri_CheckoutCustom_Helper</class>
            </gri_checkoutcustom>
        </helpers>
    </global>
    <frontend>
        <routers>
            <gri_checkoutcustom>
                <use>standard</use>
                <args>
                    <module>Gri_CheckoutCustom</module>
                    <frontName>checkoutcustom</frontName>
                </args>
            </gri_checkoutcustom>
        </routers>
        <translate>
            <modules>
                <Gri_CheckoutCustom>
                    <files>
                        <default>Gri_CheckoutCustom.csv</default>
                    </files>
                </Gri_CheckoutCustom>
            </modules>
        </translate>
    </frontend>
</config>
