<?xml version="1.0"?>
<config>
    <modules>
        <Gri_Reports>
            <version>1.0.7</version>
        </Gri_Reports>
    </modules>
    <global>
        <models>
            <gri_reports>
                <class>Gri_Reports_Model</class>
                <resourceModel>gri_reports_resource</resourceModel>
            </gri_reports>
            <gri_reports_resource>
                <class>Gri_Reports_Model_Resource</class>
                <entities>
                    <report_order>
                        <table>gri_report_order</table>
                    </report_order>
                    <report_order_item>
                        <table>gri_report_order_item</table>
                    </report_order_item>
                </entities>
            </gri_reports_resource>
            <catalog_resource>
                <rewrite>
                    <category_tree>Gri_Reports_Model_Resource_Category_Tree</category_tree>
                </rewrite>
            </catalog_resource>
        </models>
        <resources>
            <gri_reports_setup>
                <setup>
                    <module>Gri_Reports</module>
                </setup>
            </gri_reports_setup>
        </resources>
        <blocks>
            <gri_reports>
                <class>Gri_Reports_Block</class>
            </gri_reports>
        </blocks>
        <helpers>
            <gri_reports>
                <class>Gri_Reports_Helper</class>
            </gri_reports>
        </helpers>
        <events>
            <sales_model_service_quote_submit_after>
                <observers>
                    <gri_reports>
                        <class>gri_reports/observer</class>
                        <method>observeOrderPlacement</method>
                    </gri_reports>
                </observers>
            </sales_model_service_quote_submit_after>
            <sales_order_shipment_save_after>
                <observers>
                    <gri_reports>
                        <class>gri_reports/observer</class>
                        <method>observeOrderShipment</method>
                    </gri_reports>
                </observers>
            </sales_order_shipment_save_after>
            <sales_order_invoice_pay>
                <observers>
                    <gri_reports>
                        <class>gri_reports/observer</class>
                        <method>observeOrderPayment</method>
                    </gri_reports>
                </observers>
            </sales_order_invoice_pay>
            <!--<gri_order_cancellation>
                <observers>
                    <gri_reports>
                        <class>gri_reports/observer</class>
                        <method>observeOrderCancellation</method>
                    </gri_reports>
                </observers>
            </gri_order_cancellation>-->
            <sales_order_save_after>
                <observers>
                    <gri_reports>
                        <class>gri_reports/observer</class>
                        <method>observeOrderCancellation2</method>
                    </gri_reports>
                </observers>
            </sales_order_save_after>
        </events>
    </global>
    <admin>
        <routers>
            <gri_reports>
                <use>admin</use>
                <args>
                    <module>Gri_Reports_Adminhtml</module>
                    <frontName>gri_reports</frontName>
                </args>
            </gri_reports>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <gri_reports>
                    <file>gri/reports.xml</file>
                </gri_reports>
            </updates>
        </layout>
        <translate>
            <modules>
                <Gri_Reports>
                    <files>
                        <default>Gri_Reports.csv</default>
                    </files>
                </Gri_Reports>
            </modules>
        </translate>
    </adminhtml>
</config>
