<?xml version="1.0"?>
<config>
    <modules>
        <gri_sendfriend>
            <version>1.0.0</version>
        </gri_sendfriend>
    </modules>
    <global>
        <models>
            <sendfriend>
                <rewrite>
                    <sendfriend>Gri_Sendfriend_Model_Sendfriend</sendfriend>
                </rewrite>
            </sendfriend>
        </models>
    </global>
</config>