<?xml version="1.0"?>
<config>
    <modules>
        <D1m_Customer>
            <version>1.0.4</version>
        </D1m_Customer>
    </modules>
    <global>
        <blocks>
            <customer>
                <rewrite>
                    <widget_dob>D1m_Customer_Block_Widget_Dob</widget_dob>
                </rewrite>
            </customer>
            <d1m_customer>
                <class>D1m_Customer_Block</class>
            </d1m_customer>
        </blocks>
        <resources>
            <d1m_customer_setup>
                <setup>
                    <module>D1m_Customer</module>
                    <class>Mage_Customer_Model_Resource_Setup</class>
                </setup>
            </d1m_customer_setup>
        </resources>
        <fieldsets>
            <customer_account>
                <customer_country_id><to_quote>customer_country_id</to_quote></customer_country_id>
                <customer_area_code><to_quote>customer_area_code</to_quote></customer_area_code>
                <mobile><to_quote>customer_mobile</to_quote></mobile>
                <title><to_quote>customer_title</to_quote></title>
                <mailing_address><to_quote>customer_mailing_address</to_quote></mailing_address>
            </customer_account>
            <checkout_onepage_quote>
                <customer_country_id><to_customer>customer_country_id</to_customer></customer_country_id>
                <customer_area_code><to_customer>customer_area_code</to_customer></customer_area_code>
                <customer_mobile><to_customer>mobile</to_customer></customer_mobile>
                <customer_title><to_customer>title</to_customer></customer_title>
                <customer_mailing_address><to_customer>mailing_address</to_customer></customer_mailing_address>
            </checkout_onepage_quote>
        </fieldsets>
    </global>
</config>