<!--@subject CentralCentralShop.com Password Reset @-->
<!--@vars
{"store url=\"\"":"Store Url",
"var logo_url":"Email Logo Image Url",
"var logo_alt":"Email Logo Image Alt",
"htmlescape var=$customer.name":"Customer Name",
"store url=\"customer/account/resetpassword/\" _query_id=$customer.id _query_token=$customer.rp_token":"Reset Password URL"}
@-->

<!--@styles
body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
@-->

{{block type='core/template' area='frontend' template='email/header.phtml'}}
<p style="font-family:Arial, Helvetica, sans-serif;font-size:12px;line-height:18px;color:#000;">Dear {{htmlescape var=$customer.name}},<br/>
  <br/>
  There has been recently a request to change the password of your CentralCentralShop.com personal account. <br/>
  <br/>
  Please click on the link below to reset your password.<br />
  <a href="{{store url="customer/account/resetpassword/" _query_id=$customer.id _query_token=$customer.rp_token}}" style="color:#999;text-decoration:underline;font-family:Arial, Helvetica, sans-serif;font-size:12px;line-height:14px">{{store url="customer/account/resetpassword/" _query_id=$customer.id _query_token=$customer.rp_token}}</a> <br/>
  <br/>
  If clicking this link does not work, please copy the URL and paste it into your browser.<br/>
  <br/>
  If you did not make this request, you can ignore this email and your account password will remain unchanged.</p>
<br />
<br />
{{block type='core/template' area='frontend' template='email/footer.phtml'}}