<!--@subject Take a look at {{var customer.name}}'s wishlist @-->
<!--@vars
{"store url=\"\"":"Store Url",
"var logo_url":"Email Logo Image Url",
"var logo_alt":"Email Logo Image Alt",
"var message":"Wishlist Message",
"var items":"Wishlist Items"}
@-->
<!--@styles
body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
@-->

<body style="background:#F6F6F6; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; margin:0; padding:0;">
<div style="background:#F6F6F6; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; margin:0; padding:0;">
<table style="margin:0 auto; width:650px;color:#333;background: #fff;border-top:10px solid #000000;border-bottom:10px solid #000000;border-left:20px solid #000000;border-right:20px solid #000000;" cellspacing="0" cellpadding="0" >
        <tr>
            <td>
                <!-- [ header starts here] -->
                <table style="margin:0 auto;width:650px;border:0;" cellspacing="0" cellpadding="0" >
                    <tr>
                        <td style="height:70px;" colspan="3"><div style="width:650px;">
            <div style="width:193px; height:56px;padding-left:228px;">
                <a title="Magento Commerce" href="{{store url='/'}}"><img alt="Magento Commerce" src="{{skin url='images/logo_chi.png' _area='frontend'}}"></a>
            </div>
            <div style="margin:0 auto;border-top:4px solid #000000;">
                <ul style="margin:0px;">
                    <li style="float:left;list-style:none;padding:6px 18px;margin:0px"><a style="text-decoration:none;" href="{{store url='shoes/new-arrivals.html'}}"><span style=" font-size: 15px;font-weight: bold;color:#333;">新品</span></a></li>
                    <li style="float:left;list-style:none;padding:6px 18px;margin:0px"><a style="text-decoration:none;" href="{{store url='ninewest.html'}}"><span style=" font-size: 15px;font-weight: bold;color:#333;">品牌</span></a></li>
                    <li style="float:left;list-style:none;padding:6px 18px;margin:0px"><a style="text-decoration:none;" href="{{store url='shoes/new-arrivals.html'}}"><span style=" font-size: 15px;font-weight: bold;color:#333;">鞋履</span></a></li>
                    <li style="float:left;list-style:none;padding:6px 18px;margin:0px"><a style="text-decoration:none;" href="{{store url='clothing/new-arrivals.html'}}"><span style=" font-size: 15px;font-weight: bold;color:#333;">服装</span></a></li>
                    <li style="float:left;list-style:none;padding:6px 18px;margin:0px"><a style="text-decoration:none;" href="{{store url='accessories/new-arrivals.html'}}"><span style=" font-size: 15px;font-weight: bold;color:#333;">配饰</span></a></li>
                    <li style="float:left;list-style:none;padding:6px 18px;margin:0px"><a style="text-decoration:none;" href="{{store url='as-seen-in'}}"><span style=" font-size: 15px;font-weight: bold;color:#333;">媒体报道</span></a></li>
                    <li style="float:left;list-style:none;padding:6px 18px;margin:0px"><a style="text-decoration:none;" href="{{store url='events'}}"><span style=" font-size: 15px;font-weight: bold;color:#333;">活动</span></a></li>
                </ul>
            </div>
            </div>
                    </tr>
                     <!-- [ middle starts here] -->
                    <tr>
                        <td valign="top" style="padding: 15px;">
                        <p style="font-size:12px; line-height:16px; margin:0 0 16px 0;">Hey,<br/>Take a look at my wishlist from {{var store.getFrontendName()}}.</p>
                        <p style="font-size:12px; line-height:16px; margin:0 0 16px 0;">{{var message}}</p>
                        {{var items}}
                        <br/>
                        {{depend salable}}<p style="font-size:12px; line-height:16px; margin:0 0 8px 0;"><strong><a href="{{var addAllLink}}" style="color:#000;">Add all items to shopping cart</a></strong> |{{/depend}} <strong><a href="{{var viewOnSiteLink}}" style="color:#000;">View all wishlist items</a></strong></p>
                    </td>
                </tr>
                <tr>
                    <td bgcolor="#EAEAEA" align="center" style="background:#EAEAEA; text-align:center;"><center><p style="font-size:12px; margin:0;">Thank you, <strong>{{htmlescape var=$customer.name}}</p></center></td>
                </tr>
                </table>
                <table style="width:650px;border:0;background-color:#fff;text-align:center;" cellspacing="0" cellpadding="0" >
                    <tbody><tr><td>
                        <table cellspacing="0" cellpadding="0" style="padding:15px;border:0; background-color:#FFFFFF;">
                            <tbody><tr>
                                    <td colspan="3">&nbsp;</td>
                                </tr>
                                <tr>
                                    <td style="padding:0 10px;width:33%; text-align:top;"><p align="center">
                                            <span class="style2"><a style="color:#000;text-decoration: none;" target="_blank" href="{{store url='vip'}}">FREE SHIPPING</a></span><br>
                                            <em class="style1">on orders over <strong>600<br>
                                                </strong>within Hong Kong</em></p></td>
                                    <td style="border-left:1px solid #d8d8d8; border-right:1px solid #d8d8d8; padding:0 10px;width:36%; text-align:top; "><p align="center"><span class="style2"><a style="color:#000;text-decoration: none;" target="_blank" href="{{store url='shoes/new-arrivals.html'}}">NEW IN</a></span> <br>
                                            <span class="style1">Sign up and <strong>be the first to know </strong>about our sales and offers</span><span class="style1"><br>
                                            </span></p>      </td>
                                    <td style="padding:0 10px;width:31%;text-align:top;"><p align="center"><span class="style2"><a style="color:#000;text-decoration: none;" target="_blank" href="{{store url='events'}}">UPCOMING EVENTS</a></span> <br>
                                            <span class="style1">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span></p></td>
                                </tr>
                                <tr>
                                    <td colspan="3"><p style="padding:20px 0;margin:0px;" align="center" class="style6">Connect with Us <a style="color:#000;" target="_blank" href="http://www.facebook.com"><img width="15" height="16" alt="Facebook" src="{{skin_url="edm_images/a-fb.jpg" _area='frontend'}}" ></a> <a target="_blank" href="http://www.twitter.com"><img width="15" height="16" alt="Twitter" src="{{skin_url="edm_images/b-twit.jpg" _area='frontend'}}"></a> <a target="_blank" href="http://www.youtube.com"><img alt="Youtube" src="{{skin_url="edm_images/c-utube.jpg" _area='frontend'}}"></a> <a target="_blank" href="http://www.pinterest.com"><img alt="P" src="{{skin url="edm_images/d.jpg" _area='frontend'}}"></a>  <a target="_blank" href="http://www.weibo.com"><img width="17" height="17" alt="Weibo" src="{{skin url="edm_images/e-wb.jpg" _area='frontend'}}"></a></p></td>
                                </tr>
                                <tr>
                                    <td valign="top" colspan="3"><p style="text-align: left;font-size: 10px;line-height:16px;" class="style3">This email was sent to you as you have registered with CENTRAL CENTRAl SHOP.<br>
                                            Please do not reply this email. For any inquiry or concern, please email to <a style="color:#000;" href="mailto:cs@centtralcentralshop.cn">cs@centtralcentralshop.cn</a>.
                                            <br>
                                            To unsubscribe and stop receiving further updates, please <a style="color:#000;" target="_blank" href="#">click here</a>.
                                            <br>
                                            Please add <a style="color:#000;" href="mailto:xxx@centtralcentralshop.cn">xxx@centtralcentralshop.cn</a> to your Address Book or Safe Sender List to ensure the delivery of our emails to your inbox.</p>
                                        <p style="text-align: left;font-size: 10px;padding: 9px 0;">&copy; 2013 www.CENTRALCENTRALSHOP.cn All rights reserved </p></td>
                                </tr>
                            </tbody></table>
                    </td></tr></tbody>
                </table>
            </td>
        </tr>
    </table>
</div>
</body>
