<?xml version="1.0"?>
<config>
    <modules>
        <Gri_Sales>
            <version>1.0.6</version>
        </Gri_Sales>
    </modules>
    <global>
        <resources>
            <gri_sales_setup>
                <setup>
                    <module>Gri_Sales</module>
                    <class>Mage_Sales_Model_Resource_Setup</class>
                </setup>
            </gri_sales_setup>
        </resources>
        <models>
            <gri_sales>
                <class>Gri_Sales_Model</class>
                <resourceModel>gri_sales_resource</resourceModel>
            </gri_sales>
            <gri_sales_resource>
                <class>Gri_Sales_Model_Resource</class>
                <entities>
                </entities>
            </gri_sales_resource>
            <sales>
                <rewrite>
                    <!--<service_quote>Gri_Sales_Model_Service_Quote</service_quote>-->
                    <order>Gri_Sales_Model_Order</order>
                    <order_creditmemo>Gri_Sales_Model_Order_Creditmemo</order_creditmemo>
                    <order_config>Gri_Sales_Model_Order_Config</order_config>
                </rewrite>
            </sales>
        </models>
        <blocks>
            <gri_sales>
                <class>Gri_Sales_Block</class>
            </gri_sales>
            <sales>
                <rewrite>
                    <order_history>Gri_Sales_Block_Order_History</order_history>
                    <order_view>Gri_Sales_Block_Order_View</order_view>
                    <order_totals>Gri_Sales_Block_Order_Totals</order_totals>
                </rewrite>
            </sales>
            <adminhtml>
                <rewrite>
                    <!-- Cancel order that has been paid but not been shipped -->
                    <sales_order_view>Gri_Sales_Block_Adminhtml_Order_View</sales_order_view>
                    <sales_order_totals>Gri_Sales_Block_Adminhtml_Order_Totals</sales_order_totals>
                    <sales_order_creditmemo_view>Gri_Sales_Block_Adminhtml_Order_Creditmemo_View</sales_order_creditmemo_view>
                    <sales_order_creditmemo_create_form>Gri_Sales_Block_Adminhtml_Order_Creditmemo_Create_Form</sales_order_creditmemo_create_form>
                    <!-- Ability to update pending creditmemos -->
                    <sales_order_creditmemo_create>Gri_Sales_Block_Adminhtml_Order_Creditmemo_Create</sales_order_creditmemo_create>
                    <sales_creditmemo_grid>Gri_Sales_Block_Adminhtml_Creditmemo_Grid</sales_creditmemo_grid>
                </rewrite>
            </adminhtml>

        </blocks>
        <helpers>
            <gri_sales>
                <class>Gri_Sales_Helper</class>
            </gri_sales>
        </helpers>
        <events>
            <!-- Free upgrade to express shipping -->
            <adminhtml_block_salesrule_actions_prepareform>
                <observers>
                    <gri_sales_add_rule_action>
                        <class>gri_sales/observer</class>
                        <method>addSalesRuleAction</method>
                    </gri_sales_add_rule_action>
                </observers>
            </adminhtml_block_salesrule_actions_prepareform>
            <sales_order_creditmemo_refund>
                <observers>
                    <gri_sales_add_rule_action>
                        <class>gri_sales/observer</class>
                        <method>afterRefund</method>
                    </gri_sales_add_rule_action>
                </observers>
            </sales_order_creditmemo_refund>
           <!-- <sales_order_invoice_pay>
                <observers>
                    <gri_sales_processing_approval>
                        <class>gri_sales/observer</class>
                        <method>afterPaid</method>
                    </gri_sales_processing_approval>
                </observers>
            </sales_order_invoice_pay>-->
        </events>

        <fieldsets>
            <sales_convert_quote>
                <fapiao><to_order>*</to_order></fapiao>
                <remarks><to_order>*</to_order></remarks>
            </sales_convert_quote>
        </fieldsets>
        <sales>
            <order>
                <states>
                    <pending_payment translate="label">
                        <visible_on_front>1</visible_on_front>
                    </pending_payment>
                </states>
            </order>
        </sales>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <gri_sales>
                    <file>gri/sales.xml</file>
                </gri_sales>
            </updates>
        </layout>
    </adminhtml>
    <admin>
        <routers>
            <gri_sales>
                <use>admin</use>
                <args>
                    <module>Gri_Sales_Adminhtml</module>
                    <frontName>gri_sales</frontName>
                </args>
            </gri_sales>
        </routers>
    </admin>
    <frontend>
        <routers>
            <sales>
                <args>
                    <modules>
                        <Gri_Sales before="Mage_Sales">Gri_Sales</Gri_Sales>
                    </modules>
                </args>
            </sales>
        </routers>
        <layout>
            <updates>
                <gri_sales>
                    <file>gri/sales.xml</file>
                </gri_sales>
            </updates>
        </layout>
        <translate>
            <modules>
                <Gri_Sales>
                    <files>
                        <default>Gri_Sales.csv</default>
                    </files>
                </Gri_Sales>
            </modules>
        </translate>
    </frontend>
    <default>
        <sales>
            <auto_cancel_order>
                <active>1</active>
                <life>120</life>
            </auto_cancel_order>
            <creditmemo>
                <two_step>1</two_step>
                <notify_before_confirm>1</notify_before_confirm>
            </creditmemo>
            <pay_now>
                <enabled>1</enabled>
            </pay_now>
        </sales>
    </default>
    <crontab>
        <jobs>
            <auto_cancel_order>
                <schedule>
                    <cron_expr>* * * * *</cron_expr>
                </schedule>
                <run>
                    <model>gri_sales/observer::scheduledAutoCancelOrder</model>
                </run>
            </auto_cancel_order>
        </jobs>
    </crontab>
</config>
