<!--@subject 重置CentralCentralShop.com的帳戶密碼 @-->
<!--@vars
{"store url=\"\"":"Store Url",
"var logo_url":"Email Logo Image Url",
"var logo_alt":"Email Logo Image Alt",
"htmlescape var=$customer.name":"Customer Name",
"store url=\"customer/account/resetpassword/\" _query_id=$customer.id _query_token=$customer.rp_token":"Reset Password URL"}
@-->

<!--@styles
body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
@-->
{{block type='core/template' area='frontend' template='email/header.phtml'}}
<p style="font-size:16px; font-weight: normal; line-height: 22px; margin:35px 0 10px 0;color:#000;">親愛的 {{htmlescape var=$customer.name}},</p>
<p style="font-size: 12px; line-height:22px;color:#000;">我們收到了重設您的帳戶密碼的要求，請點擊以下鏈接以修改您的個人密碼。</p>
<p style="font-size: 12px; line-height:22px;color:#000;"><a href="{{store url="customer/account/resetpassword/" _query_id=$customer.id _query_token=$customer.rp_token}}" style="color:#000000;">{{store url="customer/account/resetpassword/" _query_id=$customer.id _query_token=$customer.rp_token}}</a></p>
<p style="font-size: 12px; line-height: 22px;color:#000;">如未能點擊此鏈接，可到瀏覽器的地址框輸入此鏈接進行重置。</p>
<p style="font-size:12px; line-height:22px;color:#000;">如果您沒有要求重設密碼，則不必理會此郵件。請放心，您的會員帳戶仍然是安全的。</p>
<p style="font-size:13px; line-height:20px; padding:0;">如果您對您的帳戶有任何問題，歡迎透過電郵 <a href="mailto:{{config path='trans_email/ident_support/email'}}" style="color:#000000;">{{config path='trans_email/ident_support/email'}}</a> 或電話{{config path='general/store_information/phone'}}聯絡客戶服務部，我們會盡力提供協助。</p>
<br />
<br />
{{block type='core/template' area='frontend' template='email/footer.phtml'}}