<!--@subject CentralCentralShop.com Password Reset @-->
<!--@vars
{"store url=\"\"":"Store Url",
"var logo_url":"Email Logo Image Url",
"var logo_alt":"Email Logo Image Alt",
"store url=\"customer/account/\"":"Customer Account Url",
"htmlescape var=$customer.name":"Customer Name",
"htmlescape var=$customer.password":"Customer New Password"}
@-->
<!--@styles
body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
@-->

{{block type='core/template' area='frontend' template='email/header.phtml'}}
<p style="font-size:16px; font-weight: normal; line-height: 22px; margin:35px 0 10px 0;color:#000;">Dear {{htmlescape var=$customer.name}},</p>
<p style="font-size: 12px; line-height:22px;color:#000;">There has been recently a request to change the password of your CentralCentralShop.com personal account.</p>
<p style="font-size: 12px; line-height:22px;color:#000;">Please click on the link below to reset your password:<a href="{{store url="customer/account/resetpassword/" _query_id=$customer.id _query_token=$customer.rp_token}}" style="color:#000000;">{{store url="customer/account/resetpassword/" _query_id=$customer.id _query_token=$customer.rp_token}}</a></p>
<p style="font-size: 12px; line-height: 22px;color:#000;">If clicking this link does not work, please copy the URL and paste it into your browser..</p>
<p style="font-size:12px; line-height:22px;color:#000;">If you did not make this request, you can ignore this email and your account password will remain unchanged.</p>
<br />
<br />
{{block type='core/template' area='frontend' template='email/footer.phtml'}}