<!--@subject CentralCentralShop.com 優先預訂: 您心愛的產品已到貨! @-->
<!--@vars
{"var customerName":"Customer Name",
"var alertGrid":"Alert Data Grid",
"store url=\"\"":"Store Url",
"var logo_url":"Email Logo Image Url",
"var logo_alt":"Email Logo Image Alt",
"store url=\"customer/account/\"":"Customer Account Url",
"htmlescape var=$customer.name":"Customer Name",
"var customer.email":"Customer Email",
"store url=\"customer/account/confirm/\" _query_id=$customer.id _query_key=$customer.confirmation _query_back_url=$back_url":"Confirmation Url",
"htmlescape var=$customer.password":"Customer password"}
@-->
{{block type='core/template' area='frontend' template='email/header.phtml'}}
<p style="font-family:Arial, Helvetica, sans-serif;font-size:12px;line-height:18px;color:#000;">親愛的 {{htmlescape var=$customer.name}},<br />
    <br />我們特意通知您，您心愛的產品已經到貨了! 歡迎到<a href="{{store url=""}}" style="color:#999;text-decoration:underline">CentralCentralShop.com</a>查看。<br />
    您亦可點擊以下單品立即購買!<br />
    {{var alertGrid}}
</p>
<p style="font-family:Arial, Helvetica, sans-serif;font-size:12px;line-height:18px;color:#000;">如果您對您的帳戶有任何問題，歡迎透過電郵 {{config path='trans_email/ident_support/email'}} 或電話{{config path='general/store_information/phone'}} 聯絡客戶服務部，我們會盡力提供協助。</p>
<br />
<br />
{{block type='core/template' area='frontend' template='email/footer.phtml'}}