<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Gri_CatalogSearch>
            <version>1.0.1</version>
        </Gri_CatalogSearch>
    </modules>
    <global>
        <blocks>
            <gri_catalogsearch>
                <class>Gri_CatalogSearch_Block</class>
            </gri_catalogsearch>
            <adminhtml>
                <rewrite>
                    <catalog_search_grid>Gri_CatalogSearch_Block_Adminhtml_Catalog_Search_Grid</catalog_search_grid>
                    <catalog_search_edit_form>Gri_CatalogSearch_Block_Adminhtml_Catalog_Search_Edit_Form</catalog_search_edit_form>
                </rewrite>
            </adminhtml>
            <catalogsearch>
                <rewrite>
                    <result>Gri_CatalogSearch_Block_Result</result>
                    <advanced_result>Gri_CatalogSearch_Block_Advanced_Result</advanced_result>
                </rewrite>
            </catalogsearch>
        </blocks>
        <models>
            <gri_catalogsearch>
                <class>Gri_CatalogSearch_Model</class>
                <resourceModel>gri_catalogsearch_resource</resourceModel>
            </gri_catalogsearch>
            <gri_catalogsearch_resource>
                <class>Gri_CatalogSearch_Model_Resource</class>
            </gri_catalogsearch_resource>
            <catalogsearch>
                <rewrite>
                    <layer>Gri_CatalogSearch_Model_Layer</layer>
                    <advanced>Gri_CatalogSearch_Model_Advanced</advanced>
                </rewrite>
            </catalogsearch>
        </models>
        <resources>
            <gri_catalogsearch_setup>
                <setup>
                    <module>Gri_CatalogSearch</module>
                </setup>
            </gri_catalogsearch_setup>
        </resources>
        <helpers>
            <gri_catalogsearch>
                <class>Gri_CatalogSearch_Helper</class>
            </gri_catalogsearch>
        </helpers>
        <!--<rewrite>
            <gri_catalogsearch_result>
                <from><![CDATA[#^/catalogsearch/result#]]></from>
                <to>/gri_catalogsearch/result</to>
            </gri_catalogsearch_result>
        </rewrite>-->
    </global>
    <frontend>
        <routers>
            <!--<gri_catalogsearch>
                <use>standard</use>
                <args>
                    <module>Gri_CatalogSearch</module>
                    <frontName>gri_catalogsearch</frontName>
                </args>
            </gri_catalogsearch>-->

            <catalogsearch>
                <args>
                    <modules>
                        <Gri_CatalogSearch before="Mage_CatalogSearch">Gri_CatalogSearch</Gri_CatalogSearch>
                    </modules>
                </args>
            </catalogsearch>
        </routers>
        <translate>
            <modules>
                <Gri_CatalogSearch>
                    <files>
                        <default>Gri_CatalogSearch.csv</default>
                    </files>
                </Gri_CatalogSearch>
            </modules>
        </translate>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <catalogsearch before="Mage_Adminhtml">Gri_CatalogSearch_Adminhtml</catalogsearch>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <gri_catalogsearch>
                    <file>catalogsearch.xml</file>
                </gri_catalogsearch>
            </updates>
        </layout>
    </adminhtml>
    <admin>
        <routers>
            <gri_catalogsearch>
                <use>admin</use>
                <args>
                    <module>Gri_CatalogSearch_Adminhtml</module>
                    <frontName>gri_catalogsearch</frontName>
                </args>
            </gri_catalogsearch>
        </routers>
    </admin>
    <default>
        <catalog>
            <frontend>
                <adsearch_grid_per_page>30</adsearch_grid_per_page>
            </frontend>
        </catalog>
    </default>
</config>

