<?xml version="1.0"?>
<config>
    <sections>
        <catalog translate="label" module="gri_catalogsearch">
            <groups>
                <frontend>
                    <fields>
                        <adsearch_grid_per_page translate="label">
                            <label>Advanced Search per Page on Grid Default Value</label>
                            <comment><![CDATA[]]></comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>250</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </adsearch_grid_per_page>
                    </fields>
                </frontend>
            </groups>
        </catalog>
    </sections>
</config>