<?xml version="1.0" encoding="UTF-8"?>
<config>
	<modules>
		<Gri_ImportData>
			<version>1.0.1</version>
		</Gri_ImportData>
	</modules>
    <global>
        <models>
            <gri_importdata>
                <class>Gri_ImportData_Model</class>
                <resourceModel>gri_importdata_resource</resourceModel>
            </gri_importdata>
            <dataflow>
                <rewrite>
                    <profile>Gri_ImportData_Model_Profile</profile>
                </rewrite>
            </dataflow>
            <index>
                <rewrite>
                    <indexer>Gri_ImportData_Model_Indexer</indexer>
                </rewrite>
            </index>
        </models>
         <resources>
            <gri_importdata_setup>
                <setup>
                    <module>Gri_ImportData</module>
                    <class>Gri_ImportData_Model_Mysql4_Setup</class>
                </setup>
            </gri_importdata_setup>
        </resources>
        <blocks>
            <gri_importdata>
                <class>Gri_ImportData_Block</class>
            </gri_importdata>
              <adminhtml>
                <rewrite>
                    <system_convert_profile_edit_tabs>Gri_ImportData_Block_Adminhtml_System_Convert_Profile_Edit_Tabs</system_convert_profile_edit_tabs>
                    <system_convert_profile_edit_form>Gri_ImportData_Block_Adminhtml_System_Convert_Profile_Edit_Form</system_convert_profile_edit_form>
                </rewrite>
             </adminhtml>
        </blocks>
        <rewrite>
            <gri_importdata_adminhtml_system_convert_profile>
                <from><![CDATA[#^/adminhtml/system_convert_profile/#]]></from>
                <to>/gri_importdata/adminhtml_system_convert_profile/</to>
            </gri_importdata_adminhtml_system_convert_profile>
        </rewrite>
        <helpers>
            <gri_importdata>
                <class>Gri_ImportData_Helper</class>
           </gri_importdata>
        </helpers>
    </global>
     <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <gri_importdata before="Mage_Adminhtml">Gri_ImportData_Adminhtml</gri_importdata>
                    </modules>
                </args>
            </adminhtml>
        </routers>
     </admin>
</config>
