<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <ProxiBlue_DynCatProd>
            <version>0.2.20</version>
            <depends>
                 <Mage_Adminhtml/>
            </depends>
        </ProxiBlue_DynCatProd>
    </modules>
    <global>
        <models>
            <dyncatprod>
                <class>ProxiBlue_DynCatProd_Model</class>
                <resourceModel>dyncatprod_resource</resourceModel>
            </dyncatprod>
            <dyncatprod_resource>
                <class>ProxiBlue_DynCatProd_Model_Resource</class>
                <entities>
                    <catalog_category_dynamic_product_index>
                        <table>catalog_category_dynamic_product_index</table>
                    </catalog_category_dynamic_product_index>
                    <catalog_category_dynamic_product_indexer_idx>
                        <table>catalog_category_dynamic_product_indexer_idx</table>
                    </catalog_category_dynamic_product_indexer_idx>
                </entities>
            </dyncatprod_resource>
            <catalog>
                <rewrite>
                    <category>ProxiBlue_DynCatProd_Model_Category</category>
                    <layer_filter_category>ProxiBlue_DynCatProd_Model_Catalog_Layer_Filter_Category</layer_filter_category>
                </rewrite>
            </catalog>
            <catalog_resource>
                <rewrite>
                    <product>ProxiBlue_DynCatProd_Model_Resource_Product</product>
                    <product_collection>ProxiBlue_DynCatProd_Model_Resource_Product_Collection</product_collection>
                </rewrite>
            </catalog_resource>
            <mana_filters_resources>
                <rewrite>
                    <filter_attribute>ProxiBlue_DynCatProd_Model_Resource_Catalog_Layer_Filter_Attribute</filter_attribute>
                    <filter_price>ProxiBlue_DynCatProd_Model_Resource_Catalog_Layer_Filter_Price</filter_price>
                    <filter_decimal>ProxiBlue_DynCatProd_Model_Resource_Catalog_Layer_Filter_Decimal</filter_decimal>
                </rewrite>
            </mana_filters_resources>
            <enterprise_search>
                <rewrite>
                    <catalog_layer>ProxiBlue_DynCatProd_Model_Enterprise_Search_Catalog_Layer</catalog_layer>
                    <catalog_layer_filter_attribute>ProxiBlue_DynCatProd_Model_Enterprise_Search_Catalog_Layer_Filter_Attribute</catalog_layer_filter_attribute>
                    <catalog_layer_filter_category>ProxiBlue_DynCatProd_Model_Enterprise_Search_Catalog_Layer_Filter_Category</catalog_layer_filter_category>
                    <catalog_layer_filter_price>ProxiBlue_DynCatProd_Model_Enterprise_Search_Catalog_Layer_Filter_Price</catalog_layer_filter_price>
                </rewrite>
            </enterprise_search>
            <enterprise_search_resource>
                <rewrite>
                    <engine>ProxiBlue_DynCatProd_Model_Resource_Enterprise_Search_Engine</engine>
                </rewrite>
            </enterprise_search_resource>
            <catalog>
                <rewrite>
                    <!-- comment out the next line, if Amasty_Shopby or GoMage Enhanced navigation module(s) also installed -->
                    <layer_filter_attribute>ProxiBlue_DynCatProd_Model_Catalog_Layer_Filter_Attribute</layer_filter_attribute>
                </rewrite>
            </catalog>
        </models>
        <helpers>
            <dyncatprod>
                <class>ProxiBlue_DynCatProd_Helper</class>
            </dyncatprod>
        </helpers>
        <blocks>
            <dyncatprod>
                <class>ProxiBlue_DynCatProd_Block</class>
            </dyncatprod>
            <adminhtml>
                <rewrite>
                    <catalog_category_tree>ProxiBlue_DynCatProd_Block_Adminhtml_Catalog_Category_Tree</catalog_category_tree>
                </rewrite>
            </adminhtml>
        </blocks>
        <resources>
            <proxiblue_dyncatprod_setup>
                <setup>
                    <module>ProxiBlue_DynCatProd</module>
                    <class>ProxiBlue_DynCatProd_Model_Resource_Setup</class>
                </setup>
            </proxiblue_dyncatprod_setup>
        </resources>
        <index>
            <indexer>
               <catalog_category_dynamic_product>
                    <model>dyncatprod/catalog_category_indexer_product</model>
               </catalog_category_dynamic_product>
            </indexer>
        </index>
        <events>
            <catalog_product_collection_apply_limitations_after>
                <observers>
                    <dyncatprod_catalog_product_collection_apply_limitations_after>
                        <type>singleton</type>
                        <class>dyncatprod/observer</class>
                        <method>catalog_product_collection_apply_limitations_after</method>
                    </dyncatprod_catalog_product_collection_apply_limitations_after>
                </observers>
            </catalog_product_collection_apply_limitations_after>
            <catalog_block_product_list_collection>
                <observers>
                    <dyncatprod_catalog_block_product_list_collection>
                        <type>singleton</type>
                        <class>dyncatprod/observer</class>
                        <method>catalog_block_product_list_collection</method>
                    </dyncatprod_catalog_block_product_list_collection>
                </observers>
            </catalog_block_product_list_collection>
        </events>
    </global>
    <frontend>
        <layout>
            <updates>
                <dyncatprod>
                    <file>dyncatprod.xml</file>
                </dyncatprod>
            </updates>
        </layout>
        <category>
            <collection>
                <attributes>
                    <dynamic_attributes/>
                </attributes>
            </collection>
        </category>
    </frontend>
    <adminhtml>
        <events>
            <catalog_category_prepare_save>
                <observers>
                    <dyncatprod_catalog_category_prepare_save>
                        <type>singleton</type>
                        <class>dyncatprod/adminhtml_observer</class>
                        <method>catalog_category_prepare_save</method>
                    </dyncatprod_catalog_category_prepare_save>
                </observers>
            </catalog_category_prepare_save>
            <adminhtml_catalog_category_tabs>
                <observers>
                    <dyncatprod__adminhtml_catalog_category_tabs>
                        <type>singleton</type>
                        <class>dyncatprod/adminhtml_observer</class>
                        <method>adminhtml_catalog_category_tabs</method>
                    </dyncatprod__adminhtml_catalog_category_tabs>
                </observers>
            </adminhtml_catalog_category_tabs>
        </events>
        <layout>
            <updates>
                <dyncatprod>
                    <file>dyncatprod.xml</file>
                </dyncatprod>
            </updates>
        </layout>
        <translate>
            <modules>
                <ProxiBlue_DynCatProd>
                    <files>
                        <default>ProxiBlue_DynCatProd.csv</default>
                    </files>
                </ProxiBlue_DynCatProd>
            </modules>
        </translate>
    </adminhtml>
    <admin>
        <routers>
            <dyncatprod>
                <use>admin</use>
                <args>
                    <module>ProxiBlue_DynCatProd</module>
                    <frontName>dyncatprod</frontName>
                </args>
            </dyncatprod>
        </routers>
    </admin>
    <crontab>
        <jobs>
            <rebuild_dynamicproducts_index>
                <schedule>
                    <cron_expr>0 0 * * *</cron_expr>
                </schedule>
                <run>
                    <model>dyncatprod/cron::rebuildIndex</model>
                </run>
            </rebuild_dynamicproducts_index>
        </jobs>
    </crontab>
    <default>
        <dyncatprod>
            <vertnav>
                <roots><![CDATA[new-arrivals
sale]]></roots>
            </vertnav>
        </dyncatprod>
    </default>
</config>
