<?xml version="1.0"?>
<config>
    <modules>
        <Gri_Hamper>
            <version>1.0.3</version>
        </Gri_Hamper>
    </modules>
    <global>
        <models>
            <hamper>
                <class>Gri_Hamper_Model</class>
                <resourceModel>hamper_resource</resourceModel>
            </hamper>
            <hamper_resource>
                <class>Gri_Hamper_Model_Resource</class>
                <!--<entities>
                    <option>
                        <table>catalog_product_hamper_option</table>
                    </option>
                    <option_value>
                        <table>catalog_product_hamper_option_value</table>
                    </option_value>
                    <selection>
                        <table>catalog_product_hamper_selection</table>
                    </selection>
                    <selection_price>
                        <table>catalog_product_hamper_selection_price</table>
                    </selection_price>
                    <price_index>
                        <table>catalog_product_hamper_price_index</table>
                    </price_index>
                    <stock_index>
                        <table>catalog_product_hamper_stock_index</table>
                    </stock_index>
                    <price_indexer_idx>
                        <table>catalog_product_index_price_hamper_idx</table>
                    </price_indexer_idx>
                    <price_indexer_tmp>
                        <table>catalog_product_index_price_hamper_tmp</table>
                    </price_indexer_tmp>
                    <selection_indexer_idx>
                        <table>catalog_product_index_price_hamper_sel_idx</table>
                    </selection_indexer_idx>
                    <selection_indexer_tmp>
                        <table>catalog_product_index_price_hamper_sel_tmp</table>
                    </selection_indexer_tmp>
                    <option_indexer_idx>
                        <table>catalog_product_index_price_hamper_opt_idx</table>
                    </option_indexer_idx>
                    <option_indexer_tmp>
                        <table>catalog_product_index_price_hamper_opt_tmp</table>
                    </option_indexer_tmp>
                </entities>-->
            </hamper_resource>
            <bundle_resource>
                <rewrite>
                    <option>Gri_Hamper_Model_Resource_Option</option>
                </rewrite>
            </bundle_resource>
            <tax>
                <rewrite>
                    <sales_total_quote_subtotal>Gri_Hamper_Model_Sales_Total_Quote_Subtotal</sales_total_quote_subtotal>
                </rewrite>
            </tax>
        </models>
        <resources>
            <hamper_setup>
                <setup>
                    <module>Gri_Hamper</module>
                    <class>Mage_Catalog_Model_Resource_Setup</class>
                </setup>
            </hamper_setup>
        </resources>
        <blocks>
            <hamper>
                <class>Gri_Hamper_Block</class>
            </hamper>
        </blocks>
        <helpers>
            <hamper>
                <class>Gri_Hamper_Helper</class>
            </hamper>
        </helpers>
        <catalog>
            <product>
                <type>
                    <hamper translate="label" module="hamper">
                        <label>Hamper Product</label>
                        <model>hamper/product_type</model>
                        <composite>1</composite>
                        <allowed_selection_types>
                            <simple/>
                            <virtual/>
                            <configurable/>
                        </allowed_selection_types>
                        <price_model>hamper/product_price</price_model>
                        <index_data_retreiver>hamper/catalogIndex_data_hamper</index_data_retreiver>
                        <index_priority>40</index_priority>
                        <price_indexer>hamper/indexer_price</price_indexer>
                        <stock_indexer>hamper/indexer_stock</stock_indexer>
                    </hamper>
                </type>
                <options>
                    <hamper>
                        <types>
                            <checkbox translate="label" module="hamper">
                                <label>Multiple</label>
                            </checkbox>
                            <radio translate="label" module="hamper">
                                <label>Single</label>
                            </radio>
                        </types>
                    </hamper>
                </options>
            </product>
        </catalog>
        <!--<sales>
            <quote>
                <item>
                    <product_attributes>
                        <price_view/>
                        <price_type/>
                        <shipment_type/>
                        <weight_type/>
                        <sku_type/>
                    </product_attributes>
                </item>
            </quote>
        </sales>-->
        <pdf>
            <invoice>
                <hamper>bundle/sales_order_pdf_items_invoice</hamper>
            </invoice>
            <shipment>
                <hamper>bundle/sales_order_pdf_items_shipment</hamper>
            </shipment>
            <creditmemo>
                <hamper>bundle/sales_order_pdf_items_creditmemo</hamper>
            </creditmemo>
        </pdf>
        <events>
            <bundle_product_view_config>
                <observers>
                    <hamper>
                        <class>hamper/observer</class>
                        <method>updateBundleProductOptions</method>
                    </hamper>
                </observers>
            </bundle_product_view_config>
        </events>
    </global>
    <frontend>
        <routers>
            <hamper>
                <use>standard</use>
                <args>
                    <module>Gri_Hamper</module>
                    <frontName>hamper</frontName>
                </args>
            </hamper>
        </routers>
        <translate>
            <modules>
                <Gri_Hamper>
                    <files>
                        <default>Gri_Hamper.csv</default>
                    </files>
                </Gri_Hamper>
            </modules>
        </translate>
        <layout>
            <updates>
                <hamper>
                    <file>gri/hamper.xml</file>
                </hamper>
            </updates>
        </layout>
        <product>
            <collection>
                <attributes>
                    <price_view/>
                    <price_type/>
                </attributes>
            </collection>
        </product>
        <events>
            <!--<catalog_product_upsell>
                <observers>
                    <hamper_observer>
                        <class>hamper/observer</class>
                        <method>appendUpsellProducts</method>
                    </hamper_observer>
                </observers>
            </catalog_product_upsell>-->
            <sales_convert_quote_item_to_order_item>
                <observers>
                    <hamper_observer>
                        <class>hamper/observer</class>
                        <method>appendHamperSelectionData</method>
                    </hamper_observer>
                </observers>
            </sales_convert_quote_item_to_order_item>
            <!--<catalog_product_collection_load_after>
                <observers>
                    <hamper_observer>
                        <class>hamper/observer</class>
                        <method>loadProductOptions</method>
                    </hamper_observer>
                </observers>
            </catalog_product_collection_load_after>-->
            <product_option_renderer_init>
                <observers>
                    <hamper_observer>
                        <class>hamper/observer</class>
                        <method>initOptionRenderer</method>
                    </hamper_observer>
                </observers>
            </product_option_renderer_init>
        </events>
    </frontend>
    <admin>
        <routers>
            <hamper>
                <use>admin</use>
                <args>
                    <module>Gri_Hamper_Adminhtml</module>
                    <frontName>gri_hamper</frontName>
                </args>
            </hamper>
        </routers>
        <fieldsets>
            <catalog_product_dataflow>
                <is_in_stock>
                    <product_type>
                        <hamper/>
                    </product_type>
                </is_in_stock>
                <manage_stock>
                    <product_type>
                        <hamper/>
                    </product_type>
                </manage_stock>
            </catalog_product_dataflow>
        </fieldsets>
    </admin>
    <adminhtml>
        <translate>
            <modules>
                <Gri_Hamper>
                    <files>
                        <default>Gri_Hamper.csv</default>
                    </files>
                </Gri_Hamper>
            </modules>
        </translate>
        <layout>
            <updates>
                <hamper>
                    <file>hamper.xml</file>
                </hamper>
            </updates>
        </layout>
        <sales>
            <order>
                <create>
                    <available_product_types>
                        <hamper/>
                    </available_product_types>
                </create>
            </order>
        </sales>
        <events>
            <!--<catalog_product_prepare_save>
                <observers>
                    <hamper_observer>
                        <class>hamper/observer</class>
                        <method>prepareProductSave</method>
                    </hamper_observer>
                </observers>
            </catalog_product_prepare_save>-->
            <sales_convert_quote_item_to_order_item>
                <observers>
                    <hamper_observer>
                        <class>hamper/observer</class>
                        <method>appendHamperSelectionData</method>
                    </hamper_observer>
                </observers>
            </sales_convert_quote_item_to_order_item>
            <catalog_model_product_duplicate>
                <observers>
                    <hamper_observer>
                        <class>hamper/observer</class>
                        <method>duplicateProduct</method>
                    </hamper_observer>
                </observers>
            </catalog_model_product_duplicate>
            <catalog_product_edit_action>
                <observers>
                    <hamper_observer>
                        <class>hamper/observer</class>
                        <method>setAttributeTabBlock</method>
                    </hamper_observer>
                </observers>
            </catalog_product_edit_action>
            <catalog_product_new_action>
                <observers>
                    <hamper_observer>
                        <class>hamper/observer</class>
                        <method>setAttributeTabBlock</method>
                    </hamper_observer>
                </observers>
            </catalog_product_new_action>
        </events>
    </adminhtml>
</config>
