<?xml version="1.0"?>
<config>
    <modules>
        <Gri_Page>
            <version>1.0.0</version>
        </Gri_Page>
    </modules>
    <global>
        <resources>
            <!--<gri_page_setup>
                <setup>
                    <module>Gri_Page</module>
                </setup>
            </gri_page_setup>-->
        </resources>
        <models>
            <gri_page>
                <class>Gri_Page_Model</class>
            </gri_page>
        </models>
        <blocks>
            <gri_page>
                <class>Gri_Page_Block</class>
            </gri_page>
             <page>
                <rewrite>              
                    <html_pager>Gri_Page_Block_Html_Pager</html_pager>
                </rewrite>
            </page>
        </blocks>
        <helpers>
            <gri_page>
                <class>Gri_Page_Helper</class>
            </gri_page>
        </helpers>
        <events>
        </events>
    </global>
    <frontend>
        <translate>
            <modules>
                <Gri_Page>
                    <files>
                        <default>Gri_Page.csv</default>
                    </files>
                </Gri_Page>
            </modules>
        </translate>
    </frontend>
</config>
