<config>
    <modules>
        <D1m_Sales>
            <version>1.0.0</version>
        </D1m_Sales>
    </modules>
    <global>
        <resources>
            <d1m_sales_setup>
                <setup>
                    <module>D1m_Sales</module>
                    <class>Mage_Sales_Model_Resource_Setup</class>
                </setup>
            </d1m_sales_setup>
        </resources>
        <fieldsets>
            <sales_copy_order_billing_address>
                <area_code>
                    <to_order>*</to_order>
                </area_code>
            </sales_copy_order_billing_address>
            <sales_copy_order_shipping_address>
                <area_code>
                    <to_order>*</to_order>
                </area_code>
            </sales_copy_order_shipping_address>
            <sales_convert_quote_address>
                <area_code>
                    <to_order_address>*</to_order_address>
                    <to_customer_address>*</to_customer_address>
                </area_code>
            </sales_convert_quote_address>
            <sales_convert_order_address>
                <area_code>
                    <to_quote_address>*</to_quote_address>
                </area_code>
            </sales_convert_order_address>
            <customer_address>
                <area_code>
                    <to_quote_address>*</to_quote_address>
                </area_code>
            </customer_address>
        </fieldsets>
    </global>
</config>