<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Gri_CatalogCustom>
            <version>1.2.4</version>
        </Gri_CatalogCustom>
    </modules>
    <global>
        <models>
            <gri_catalogcustom>
                <class>Gri_CatalogCustom_Model</class>
                <resourceModel>gri_catalogcustom_resource</resourceModel>
            </gri_catalogcustom>
            <gri_catalogcustom_resource>
                <class>Gri_CatalogCustom_Model_Resource</class>
                <entities>
                    <sizemap><table>size_mapping</table></sizemap>
                </entities>
            </gri_catalogcustom_resource>
            <catalog>
                <rewrite>
                    <category>Gri_CatalogCustom_Model_Category</category>
                    <product>Gri_CatalogCustom_Model_Product</product>
                    <product_type_configurable>Gri_CatalogCustom_Model_Product_Type_Configurable</product_type_configurable>
                    <product_type_simple>Gri_CatalogCustom_Model_Product_Type_Simple</product_type_simple>
                    <resource_eav_attribute>Gri_CatalogCustom_Model_Resource_Eav_Attribute</resource_eav_attribute>
                    <observer>Gri_CatalogCustom_Model_Observer</observer>
                    <indexer_url>Gri_CatalogCustom_Model_Indexer_Url</indexer_url>
                </rewrite>
            </catalog>
            <eav_resource>
                <rewrite>
                    <entity_attribute_option_collection>Gri_CatalogCustom_Model_Resource_Entity_Attribute_Option_Collection</entity_attribute_option_collection>
                </rewrite>
            </eav_resource>
            <catalog_resource>
                <rewrite>
                    <url>Gri_CatalogCustom_Model_Resource_Url</url>
                </rewrite>
            </catalog_resource>
        </models>
        <resources>
            <gri_catalogcustom_setup>
                <setup>
                    <module>Gri_CatalogCustom</module>
                    <class>Gri_CatalogCustom_Model_Mysql4_Setup</class>
                </setup>
            </gri_catalogcustom_setup>
        </resources>
        <blocks>
            <gri_catalogcustom>
                <class>Gri_CatalogCustom_Block</class>
            </gri_catalogcustom>
            <catalog>
                <rewrite>
                    <product_list>Gri_CatalogCustom_Block_Product_List</product_list>
                    <product_list_toolbar>Gri_CatalogCustom_Block_Product_List_Toolbar</product_list_toolbar>
                    <product_list_upsell>Gri_CatalogCustom_Block_Product_List_Upsell</product_list_upsell>
                </rewrite>
            </catalog>
            <adminhtml>
                <rewrite>
                    <catalog_category_tab_product>Gri_CatalogCustom_Block_Adminhtml_Category_Tab_Product</catalog_category_tab_product>
                    <catalog_product_edit_tab_attributes>Gri_CatalogCustom_Block_Adminhtml_Product_Edit_Tab_Attributes</catalog_product_edit_tab_attributes>
                    <catalog_product_grid>Gri_CatalogCustom_Block_Adminhtml_Product_Grid</catalog_product_grid>
                </rewrite>
            </adminhtml>
        </blocks>
        <helpers>
            <gri_catalogcustom>
                <class>Gri_CatalogCustom_Helper</class>
            </gri_catalogcustom>
            <catalog>
                <rewrite>
                    <data>Gri_CatalogCustom_Helper_Catalog_Data</data>
                    <product_view>Gri_CatalogCustom_Helper_Product_View</product_view>
                </rewrite>
            </catalog>
        </helpers>
        <rewrite>
            <gri_catalogcustom_category>
                <from><![CDATA[#^catalog/category#]]></from>
                <to>catalogcustom/category</to>
            </gri_catalogcustom_category>
            <gri_catalogcustom_product>
                <from><![CDATA[#^catalog/product#]]></from>
                <to>catalogcustom/product</to>
            </gri_catalogcustom_product>
        </rewrite>
        <catalog>
            <product>
                <type>
                    <grouped>
                        <price_indexer>gri_catalogcustom/product_indexer_price_grouped</price_indexer>
                    </grouped>
                </type>
            </product>
        </catalog>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <catalogcustom before="Mage_Adminhtml">Gri_CatalogCustom_Adminhtml</catalogcustom>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <gri_catalogcustom>
                    <file>catalogcustom.xml</file>
                </gri_catalogcustom>
            </updates>
        </layout>
        <events>
            <catalog_category_prepare_save>
                <observers>
                    <gri_catalogcustom>
                        <class>gri_catalogcustom/observer</class>
                        <method>unlimitedCategoryProducts</method>
                    </gri_catalogcustom>
                </observers>
            </catalog_category_prepare_save>
        </events>
    </adminhtml>
    <frontend>
        <routers>
            <gri_catalogcustom>
                <use>standard</use>
                <args>
                    <module>Gri_CatalogCustom</module>
                    <frontName>catalogcustom</frontName>
                </args>
            </gri_catalogcustom>
        </routers>
        <events>
            <catalog_category_flat_loadnodes_before>
                <observers>
                    <gri_catalogcustom>
                        <class>gri_catalogcustom/observer</class>
                        <method>topNavHideEmptyCategoriesFlat</method>
                    </gri_catalogcustom>
                </observers>
            </catalog_category_flat_loadnodes_before>
        </events>
        <translate>
            <modules>
                <Gri_CatalogCustom>
                    <files>
                        <default>Gri_CatalogCustom.csv</default>
                    </files>
                </Gri_CatalogCustom>
            </modules>
        </translate>
    </frontend>
    <default>
        <catalog>
            <navigation>
                <hide_empty>1</hide_empty>
            </navigation>
            <frontend>
                <grid_column>4</grid_column>
            </frontend>
        </catalog>
        <gri_categories>
            <brands_setting>
                <brand_collections>
eqiq
ninewest
anne-klein
betseyjohnson
carolinnaespinosa
joan-david
jeannepierre
stevemadden
                </brand_collections>
            </brands_setting>
            <shop_setting>
                <shop_collections>
shoes
clothing
bags
accessories
                </shop_collections>
            </shop_setting>
        </gri_categories>
    </default>
    <crontab>
        <jobs>
            <catalog_product_alert>
                <schedule>
                    <cron_expr>*/5 * * * *</cron_expr>
                </schedule>
            </catalog_product_alert>
        </jobs>
    </crontab>
</config>
