<?xml version="1.0"?>
<config>
    <modules>
        <Gri_Api>
            <version>1.0.8</version>
        </Gri_Api>
    </modules>
    <global>
        <resources>
            <gri_api_setup>
                <setup>
                    <module>Gri_Api</module>
                </setup>
            </gri_api_setup>
        </resources>
        <models>
            <gri_api>
                <class>Gri_Api_Model</class>
            </gri_api>
        </models>
        <helpers>
            <gri_api>
                <class>Gri_Api_Helper</class>
            </gri_api>
        </helpers>
        <blocks>
            <gri_api>
                <class>Gri_Api_Block</class>
            </gri_api>
        </blocks>
        <customer>
            <address>
                <formats>
                    <api translate="title" module="gri_api">
                        <title>API</title>
                    </api>
                </formats>
            </address>
        </customer>
        <events>
            <prepare_catalog_product_index_select>
                <observers>
                    <gri_api>
                        <class>gri_api/observer</class>
                        <method>addIsArchiveCondition</method>
                    </gri_api>
                </observers>
            </prepare_catalog_product_index_select>
        </events>
    </global>
    <frontend>
        <routers>
            <api>
                <args>
                    <modules>
                        <Gri_Api before="Inchoo_Api">Gri_Api</Gri_Api>
                    </modules>
                </args>
            </api>
        </routers>
    </frontend>
    <crontab>
        <jobs>
            <hkas400_create_products>
                <schedule>
                    <cron_expr>1-56/2 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>gri_api/api_hkAs400::newProductsByJob</model>
                </run>
            </hkas400_create_products>
            <hkas400_update_products>
                <schedule>
                    <cron_expr>2-57/2 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>gri_api/api_hkAs400::updateProductsByJob</model>
                </run>
            </hkas400_update_products>
            <hkas400_notify_error_info>
                <schedule>
                    <cron_expr>3-58/2 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>gri_api/api_hkAs400_client::methodNotifyErrorInfo</model>
                </run>
            </hkas400_notify_error_info>
            <!--<hkas400_new_orders>-->
                <!--<schedule>-->
                    <!--<cron_expr>4-58/2 * * * *</cron_expr>-->
                <!--</schedule>-->
                <!--<run>-->
                    <!--<model>gri_api/api_hkAs400_client::methodNewOrders</model>-->
                <!--</run>-->
            <!--</hkas400_new_orders>-->
            <!--<hkas400_cancel_orders>-->
                <!--<schedule>-->
                    <!--<cron_expr>5-58/2 * * * *</cron_expr>-->
                <!--</schedule>-->
                <!--<run>-->
                    <!--<model>gri_api/api_hkAs400_client::methodCancelOrders</model>-->
                <!--</run>-->
            <!--</hkas400_cancel_orders>-->
            <!--<hkas400_new_rmas>-->
                <!--<schedule>-->
                    <!--<cron_expr>6-58/2 * * * *</cron_expr>-->
                <!--</schedule>-->
                <!--<run>-->
                    <!--<model>gri_api/api_hkAs400_client::methodNewRmas</model>-->
                <!--</run>-->
            <!--</hkas400_new_rmas>-->
        </jobs>
    </crontab>
    <admin>
        <routers>
            <gri_api>
                <use>admin</use>
                <args>
                    <module>Gri_Api_Adminhtml</module>
                    <frontName>gri_api</frontName>
                </args>
            </gri_api>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <gri_api>
                    <file>gri/api.xml</file>
                </gri_api>
            </updates>
        </layout>
    </adminhtml>
    <default>
        <gri_api>
            <global>
                <retry_count_limit>5</retry_count_limit>
            </global>
        </gri_api>
        <customer>
            <address_templates>
                <api>{{var street}}#gri#{{var city}}#gri#{{var region}}#gri#{{var country}}</api>
            </address_templates>
        </customer>
    </default>
</config>
