<!--@subject 退款成功(订单[{{var order.increment_id}}]) @-->
<!--@vars
{"store url=\"\"":"Store Url",
"var logo_url":"Email Logo Image Url",
"var logo_alt":"Email Logo Image Alt",
"htmlescape var=$order.getCustomerName()":"Customer Name",
"var store.getFrontendName()":"Store Name",
"store url=\"customer/account/\"":"Customer Account Url",
"var creditmemo.increment_id":"Credit Memo Id",
"var order.increment_id":"Order Id",
"var order.billing_address.format('html')":"Billing Address",
"payment_html":"Payment Details",
"var order.shipping_address.format('html')":"Shipping Address",
"var order.shipping_description":"Shipping Description",
"layout handle=\"sales_email_order_creditmemo_items\" creditmemo=$creditmemo order=$order":"Credit Memo Items Grid",
"var comment":"Credit Memo Comment"}
@-->
<!--@styles
body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
@-->
{{block type='core/template' area='frontend' template='email/header.phtml'}}
<h1 style="font-size:13px; font-weight:normal; line-height:22px; margin:15px 0 0 0;">亲爱的{{htmlescape var=$order.getCustomerName()}}</h1>
<p style="line-height:20px;font-size:12px;">您在熙熙网的退款申请（退货单号{{var creditmemo.increment_id}}）已经处理成功，请注意查收。</p>
<p style="line-height: 20px;font-size:12px;">欢迎您再次光临，祝您生活愉快。</p>
<a href="{{store url='customer-service/returns'}}" style="line-height: 20px;color:#ff0000;font-size:14px;">退换货政策</a><br />
<br />
<br />
{{block type='core/template' area='frontend' template='email/footer.phtml'}}