.nation-flag-AD{background-image:url("../images/flags/AD.png");}
.nation-flag-AE{background-image:url("../images/flags/AE.png");}
.nation-flag-AF{background-image:url("../images/flags/AF.png");}
.nation-flag-AG{background-image:url("../images/flags/AG.png");}
.nation-flag-AI{background-image:url("../images/flags/AI.png");}
.nation-flag-AL{background-image:url("../images/flags/AL.png");}
.nation-flag-AM{background-image:url("../images/flags/AM.png");}
.nation-flag-AN{background-image:url("../images/flags/AN.png");}
.nation-flag-AO{background-image:url("../images/flags/AO.png");}
.nation-flag-AQ{background-image:url("../images/flags/AQ.png");}
.nation-flag-AR{background-image:url("../images/flags/AR.png");}
.nation-flag-AS{background-image:url("../images/flags/AS.png");}
.nation-flag-AT{background-image:url("../images/flags/AT.png");}
.nation-flag-AU{background-image:url("../images/flags/AU.png");}
.nation-flag-AW{background-image:url("../images/flags/AW.png");}
.nation-flag-AX{background-image:url("../images/flags/AX.png");}
.nation-flag-AZ{background-image:url("../images/flags/AZ.png");}
.nation-flag-BA{background-image:url("../images/flags/BA.png");}
.nation-flag-BB{background-image:url("../images/flags/BB.png");}
.nation-flag-BD{background-image:url("../images/flags/BD.png");}
.nation-flag-BE{background-image:url("../images/flags/BE.png");}
.nation-flag-BF{background-image:url("../images/flags/BF.png");}
.nation-flag-BG{background-image:url("../images/flags/BG.png");}
.nation-flag-BH{background-image:url("../images/flags/BH.png");}
.nation-flag-BI{background-image:url("../images/flags/BI.png");}
.nation-flag-BJ{background-image:url("../images/flags/BJ.png");}
.nation-flag-BL{background-image:url("../images/flags/BL.png");}
.nation-flag-BM{background-image:url("../images/flags/BM.png");}
.nation-flag-BN{background-image:url("../images/flags/BN.png");}
.nation-flag-BO{background-image:url("../images/flags/BO.png");}
.nation-flag-BR{background-image:url("../images/flags/BR.png");}
.nation-flag-BS{background-image:url("../images/flags/BS.png");}
.nation-flag-BT{background-image:url("../images/flags/BT.png");}
.nation-flag-BV{background-image:url("../images/flags/BV.png");}
.nation-flag-BW{background-image:url("../images/flags/BW.png");}
.nation-flag-BY{background-image:url("../images/flags/BY.png");}
.nation-flag-BZ{background-image:url("../images/flags/BZ.png");}
.nation-flag-CA{background-image:url("../images/flags/CA.png");}
.nation-flag-CC{background-image:url("../images/flags/CC.png");}
.nation-flag-CD{background-image:url("../images/flags/CD.png");}
.nation-flag-CF{background-image:url("../images/flags/CF.png");}
.nation-flag-CG{background-image:url("../images/flags/CG.png");}
.nation-flag-CH{background-image:url("../images/flags/CH.png");}
.nation-flag-CI{background-image:url("../images/flags/CI.png");}
.nation-flag-CK{background-image:url("../images/flags/CK.png");}
.nation-flag-CL{background-image:url("../images/flags/CL.png");}
.nation-flag-CM{background-image:url("../images/flags/CM.png");}
.nation-flag-China{background-image:url("../images/flags/CN.png");}
.nation-flag-CN{background-image:url("../images/flags/CN.png");}
.nation-flag-CO{background-image:url("../images/flags/CO.png");}
.nation-flag-CR{background-image:url("../images/flags/CR.png");}
.nation-flag-CU{background-image:url("../images/flags/CU.png");}
.nation-flag-CV{background-image:url("../images/flags/CV.png");}
.nation-flag-CW{background-image:url("../images/flags/CW.png");}
.nation-flag-CX{background-image:url("../images/flags/CX.png");}
.nation-flag-CY{background-image:url("../images/flags/CY.png");}
.nation-flag-CZ{background-image:url("../images/flags/CZ.png");}
.nation-flag-DE{background-image:url("../images/flags/DE.png");}
.nation-flag-DJ{background-image:url("../images/flags/DJ.png");}
.nation-flag-DK{background-image:url("../images/flags/DK.png");}
.nation-flag-DM{background-image:url("../images/flags/DM.png");}
.nation-flag-DO{background-image:url("../images/flags/DO.png");}
.nation-flag-DZ{background-image:url("../images/flags/DZ.png");}
.nation-flag-EC{background-image:url("../images/flags/EC.png");}
.nation-flag-EE{background-image:url("../images/flags/EE.png");}
.nation-flag-EG{background-image:url("../images/flags/EG.png");}
.nation-flag-EH{background-image:url("../images/flags/EH.png");}
.nation-flag-ER{background-image:url("../images/flags/ER.png");}
.nation-flag-ES{background-image:url("../images/flags/ES.png");}
.nation-flag-ET{background-image:url("../images/flags/ET.png");}
.nation-flag-FI{background-image:url("../images/flags/FI.png");}
.nation-flag-FJ{background-image:url("../images/flags/FJ.png");}
.nation-flag-FK{background-image:url("../images/flags/FK.png");}
.nation-flag-FM{background-image:url("../images/flags/FM.png");}
.nation-flag-FO{background-image:url("../images/flags/FO.png");}
.nation-flag-FR{background-image:url("../images/flags/FR.png");}
.nation-flag-GA{background-image:url("../images/flags/GA.png");}
.nation-flag-GB{background-image:url("../images/flags/GB.png");}
.nation-flag-GD{background-image:url("../images/flags/GD.png");}
.nation-flag-GE{background-image:url("../images/flags/GE.png");}
.nation-flag-GF{background-image:url("../images/flags/GF.png");}
.nation-flag-GG{background-image:url("../images/flags/GG.png");}
.nation-flag-GH{background-image:url("../images/flags/GH.png");}
.nation-flag-GI{background-image:url("../images/flags/GI.png");}
.nation-flag-GL{background-image:url("../images/flags/GL.png");}
.nation-flag-GM{background-image:url("../images/flags/GM.png");}
.nation-flag-GN{background-image:url("../images/flags/GN.png");}
.nation-flag-GP{background-image:url("../images/flags/GP.png");}
.nation-flag-GQ{background-image:url("../images/flags/GQ.png");}
.nation-flag-GR{background-image:url("../images/flags/GR.png");}
.nation-flag-GS{background-image:url("../images/flags/GS.png");}
.nation-flag-GT{background-image:url("../images/flags/GT.png");}
.nation-flag-GU{background-image:url("../images/flags/GU.png");}
.nation-flag-GW{background-image:url("../images/flags/GW.png");}
.nation-flag-GY{background-image:url("../images/flags/GY.png");}
.nation-flag-HK{background-image:url("../images/flags/HK.png");}
.nation-flag-HM{background-image:url("../images/flags/HM.png");}
.nation-flag-HN{background-image:url("../images/flags/HN.png");}
.nation-flag-HR{background-image:url("../images/flags/HR.png");}
.nation-flag-HT{background-image:url("../images/flags/HT.png");}
.nation-flag-HU{background-image:url("../images/flags/HU.png");}
.nation-flag-ID{background-image:url("../images/flags/ID.png");}
.nation-flag-IE{background-image:url("../images/flags/IE.png");}
.nation-flag-IL{background-image:url("../images/flags/IL.png");}
.nation-flag-IM{background-image:url("../images/flags/IM.png");}
.nation-flag-IN{background-image:url("../images/flags/IN.png");}
.nation-flag-IO{background-image:url("../images/flags/IO.png");}
.nation-flag-IQ{background-image:url("../images/flags/IQ.png");}
.nation-flag-IR{background-image:url("../images/flags/IR.png");}
.nation-flag-IS{background-image:url("../images/flags/IS.png");}
.nation-flag-IT{background-image:url("../images/flags/IT.png");}
.nation-flag-JE{background-image:url("../images/flags/JE.png");}
.nation-flag-JM{background-image:url("../images/flags/JM.png");}
.nation-flag-JO{background-image:url("../images/flags/JO.png");}
.nation-flag-JP{background-image:url("../images/flags/JP.png");}
.nation-flag-Japan{background-image:url("../images/flags/JP.png");}
.nation-flag-KE{background-image:url("../images/flags/KE.png");}
.nation-flag-KG{background-image:url("../images/flags/KG.png");}
.nation-flag-KH{background-image:url("../images/flags/KH.png");}
.nation-flag-KI{background-image:url("../images/flags/KI.png");}
.nation-flag-KM{background-image:url("../images/flags/KM.png");}
.nation-flag-KN{background-image:url("../images/flags/KN.png");}
.nation-flag-KP{background-image:url("../images/flags/KP.png");}
.nation-flag-KR{background-image:url("../images/flags/KR.png");}
.nation-flag-KW{background-image:url("../images/flags/KW.png");}
.nation-flag-KY{background-image:url("../images/flags/KY.png");}
.nation-flag-KZ{background-image:url("../images/flags/KZ.png");}
.nation-flag-LA{background-image:url("../images/flags/LA.png");}
.nation-flag-LB{background-image:url("../images/flags/LB.png");}
.nation-flag-LC{background-image:url("../images/flags/LC.png");}
.nation-flag-LI{background-image:url("../images/flags/LI.png");}
.nation-flag-LK{background-image:url("../images/flags/LK.png");}
.nation-flag-LR{background-image:url("../images/flags/LR.png");}
.nation-flag-LS{background-image:url("../images/flags/LS.png");}
.nation-flag-LT{background-image:url("../images/flags/LT.png");}
.nation-flag-LU{background-image:url("../images/flags/LU.png");}
.nation-flag-LV{background-image:url("../images/flags/LV.png");}
.nation-flag-LY{background-image:url("../images/flags/LY.png");}
.nation-flag-MA{background-image:url("../images/flags/MA.png");}
.nation-flag-MC{background-image:url("../images/flags/MC.png");}
.nation-flag-MD{background-image:url("../images/flags/MD.png");}
.nation-flag-ME{background-image:url("../images/flags/ME.png");}
.nation-flag-MF{background-image:url("../images/flags/MF.png");}
.nation-flag-MG{background-image:url("../images/flags/MG.png");}
.nation-flag-MH{background-image:url("../images/flags/MH.png");}
.nation-flag-MK{background-image:url("../images/flags/MK.png");}
.nation-flag-ML{background-image:url("../images/flags/ML.png");}
.nation-flag-MM{background-image:url("../images/flags/MM.png");}
.nation-flag-MN{background-image:url("../images/flags/MN.png");}
.nation-flag-MO{background-image:url("../images/flags/MO.png");}
.nation-flag-MP{background-image:url("../images/flags/MP.png");}
.nation-flag-MQ{background-image:url("../images/flags/MQ.png");}
.nation-flag-MR{background-image:url("../images/flags/MR.png");}
.nation-flag-MS{background-image:url("../images/flags/MS.png");}
.nation-flag-MT{background-image:url("../images/flags/MT.png");}
.nation-flag-MU{background-image:url("../images/flags/MU.png");}
.nation-flag-MV{background-image:url("../images/flags/MV.png");}
.nation-flag-MW{background-image:url("../images/flags/MW.png");}
.nation-flag-MX{background-image:url("../images/flags/MX.png");}
.nation-flag-MY{background-image:url("../images/flags/MY.png");}
.nation-flag-MZ{background-image:url("../images/flags/MZ.png");}
.nation-flag-NA{background-image:url("../images/flags/NA.png");}
.nation-flag-NC{background-image:url("../images/flags/NC.png");}
.nation-flag-NE{background-image:url("../images/flags/NE.png");}
.nation-flag-NF{background-image:url("../images/flags/NF.png");}
.nation-flag-NG{background-image:url("../images/flags/NG.png");}
.nation-flag-NI{background-image:url("../images/flags/NI.png");}
.nation-flag-NL{background-image:url("../images/flags/NL.png");}
.nation-flag-NO{background-image:url("../images/flags/NO.png");}
.nation-flag-NP{background-image:url("../images/flags/NP.png");}
.nation-flag-NR{background-image:url("../images/flags/NR.png");}
.nation-flag-NU{background-image:url("../images/flags/NU.png");}
.nation-flag-NZ{background-image:url("../images/flags/NZ.png");}
.nation-flag-OM{background-image:url("../images/flags/OM.png");}
.nation-flag-PA{background-image:url("../images/flags/PA.png");}
.nation-flag-PE{background-image:url("../images/flags/PE.png");}
.nation-flag-PF{background-image:url("../images/flags/PF.png");}
.nation-flag-PG{background-image:url("../images/flags/PG.png");}
.nation-flag-PH{background-image:url("../images/flags/PH.png");}
.nation-flag-PK{background-image:url("../images/flags/PK.png");}
.nation-flag-PL{background-image:url("../images/flags/PL.png");}
.nation-flag-PM{background-image:url("../images/flags/PM.png");}
.nation-flag-PN{background-image:url("../images/flags/PN.png");}
.nation-flag-PR{background-image:url("../images/flags/PR.png");}
.nation-flag-PS{background-image:url("../images/flags/PS.png");}
.nation-flag-PT{background-image:url("../images/flags/PT.png");}
.nation-flag-PW{background-image:url("../images/flags/PW.png");}
.nation-flag-PY{background-image:url("../images/flags/PY.png");}
.nation-flag-QA{background-image:url("../images/flags/QA.png");}
.nation-flag-RE{background-image:url("../images/flags/RE.png");}
.nation-flag-RO{background-image:url("../images/flags/RO.png");}
.nation-flag-RS{background-image:url("../images/flags/RS.png");}
.nation-flag-RU{background-image:url("../images/flags/RU.png");}
.nation-flag-RW{background-image:url("../images/flags/RW.png");}
.nation-flag-SA{background-image:url("../images/flags/SA.png");}
.nation-flag-SB{background-image:url("../images/flags/SB.png");}
.nation-flag-SC{background-image:url("../images/flags/SC.png");}
.nation-flag-SD{background-image:url("../images/flags/SD.png");}
.nation-flag-SE{background-image:url("../images/flags/SE.png");}
.nation-flag-SG{background-image:url("../images/flags/SG.png");}
.nation-flag-SH{background-image:url("../images/flags/SH.png");}
.nation-flag-SI{background-image:url("../images/flags/SI.png");}
.nation-flag-SJ{background-image:url("../images/flags/SJ.png");}
.nation-flag-SK{background-image:url("../images/flags/SK.png");}
.nation-flag-SL{background-image:url("../images/flags/SL.png");}
.nation-flag-SM{background-image:url("../images/flags/SM.png");}
.nation-flag-SN{background-image:url("../images/flags/SN.png");}
.nation-flag-SO{background-image:url("../images/flags/SO.png");}
.nation-flag-SR{background-image:url("../images/flags/SR.png");}
.nation-flag-SS{background-image:url("../images/flags/SS.png");}
.nation-flag-ST{background-image:url("../images/flags/ST.png");}
.nation-flag-SV{background-image:url("../images/flags/SV.png");}
.nation-flag-SW{background-image:url("../images/flags/SW.png");}
.nation-flag-SY{background-image:url("../images/flags/SY.png");}
.nation-flag-SZ{background-image:url("../images/flags/SZ.png");}
.nation-flag-TC{background-image:url("../images/flags/TC.png");}
.nation-flag-TD{background-image:url("../images/flags/TD.png");}
.nation-flag-TF{background-image:url("../images/flags/TF.png");}
.nation-flag-TG{background-image:url("../images/flags/TG.png");}
.nation-flag-TH{background-image:url("../images/flags/TH.png");}
.nation-flag-TJ{background-image:url("../images/flags/TJ.png");}
.nation-flag-TK{background-image:url("../images/flags/TK.png");}
.nation-flag-TL{background-image:url("../images/flags/TL.png");}
.nation-flag-TM{background-image:url("../images/flags/TM.png");}
.nation-flag-TN{background-image:url("../images/flags/TN.png");}
.nation-flag-TO{background-image:url("../images/flags/TO.png");}
.nation-flag-TR{background-image:url("../images/flags/TR.png");}
.nation-flag-TT{background-image:url("../images/flags/TT.png");}
.nation-flag-TV{background-image:url("../images/flags/TV.png");}
.nation-flag-TW{background-image:url("../images/flags/TW.png");}
.nation-flag-TZ{background-image:url("../images/flags/TZ.png");}
.nation-flag-UA{background-image:url("../images/flags/UA.png");}
.nation-flag-UG{background-image:url("../images/flags/UG.png");}
.nation-flag-UM{background-image:url("../images/flags/UM.png");}
.nation-flag-US{background-image:url("../images/flags/US.png");}
.nation-flag-UY{background-image:url("../images/flags/UY.png");}
.nation-flag-UZ{background-image:url("../images/flags/UZ.png");}
.nation-flag-VA{background-image:url("../images/flags/VA.png");}
.nation-flag-VC{background-image:url("../images/flags/VC.png");}
.nation-flag-VE{background-image:url("../images/flags/VE.png");}
.nation-flag-VG{background-image:url("../images/flags/VG.png");}
.nation-flag-VI{background-image:url("../images/flags/VI.png");}
.nation-flag-VN{background-image:url("../images/flags/VN.png");}
.nation-flag-VU{background-image:url("../images/flags/VU.png");}
.nation-flag-WF{background-image:url("../images/flags/WF.png");}
.nation-flag-WS{background-image:url("../images/flags/WS.png");}
.nation-flag-YE{background-image:url("../images/flags/YE.png");}
.nation-flag-YT{background-image:url("../images/flags/YT.png");}
.nation-flag-ZA{background-image:url("../images/flags/ZA.png");}
.nation-flag-ZM{background-image:url("../images/flags/ZM.png");}
.nation-flag-ZW{background-image:url("../images/flags/ZW.png");}
.nation-flag{display:block;float:left;height:16px;margin-right:4px;width:16px;}
