.flash-sale-list .flash_ban_area{margin-bottom:20px;position: relative;}
.flash-sale-list .flash_title{line-height:20px;}
.flash_ban_area .banner-image{float:left;overflow:hidden;}
.flash_ban_area .banner-image img{display: block;}
.flash_ban_area .banner-image #mobile-image{display: none;}
.flash-sale-list .desc{margin:5px -7px;}
.flash-sale-list #counter{width:200px;}
.flash-sale-list .cntSeparator{color:#000;font-family:Arial,Helvetica,sans-serif;font-size:24px;line-height:44px;}

.flash-sale-list .products-grid .actions .shop-now{padding:3px 25px 3px 10px;}
.flash-sale-list .products-grid{/*border-bottom:2px solid #d8d8d7;*/width:auto;padding-left: 0;margin-top: 50px;}
.flash-sale-list .products-grid.last{border-bottom:none;}
.flash-sale-list .products-grid .gift-icon{display: none;}
.flash-sale-list .special_offer{display:none;}

.cms-index-index .flash_ban_area{margin-bottom:20px; }
.flash_ban_area{background:#fff;/*margin:20px 0 0;*/position: relative;}
.flash_title{line-height:20px;}
.cms-index-index .flash_ban_area .banner-title{display: none;}
.flash_ban_area .banner-title{font: 40px Futura Bk Bt,"Microsoft YaHei","微軟雅黑";color:#000;text-transform: uppercase;border-bottom: 1px solid #000;margin-bottom: 10px;}
.flash_ban_area .flash_sal_time{float:right;width:265px;margin-right:10px;position: absolute;right: 19px;box-shadow: 0px 5px 30px 1px #e4e4e4;top:60px;top:50px\0;padding: 0 20px;display: block;background: #fff;}
.flash_ban_area .flash_sal_time .fl_time_title{font:15px Futura Bk BT;font-weight:bold;margin:15px 0 10px;text-transform:uppercase;text-align: center;border-bottom:1px solid #000;height: 10px;}
.flash_ban_area .flash_sal_time .fl_time_title span{padding: 0 10px; background: #fff;color:#000;}
.desc{margin:5px -7px;}
.flash_ban_area .desc{margin:5px 0px 20px;}
.flash_ban_area .desc div.first{margin-left:0px;width: 50px;text-align: center;}
.flash_ban_area .desc div{color:#000;float:left;font-size:12px;margin-left:38px;text-transform: uppercase;width: 50px;text-align: center;}
.flash_ban_area .desc div.last{margin-left:35px;width: 50px;text-align: center;}
#counter{width:200px;}
.cntSeparator{color:#000;font-family:Arial,Helvetica,sans-serif;font-size:24px;line-height:44px;}
#flash-sale-countdown .count_down_time{font:40px Futura Hv BT;color:#000;}
div#flash-sale-countdown .count_down_time span{position:relative;top:-4px;}

/* Filter */
.flash-sale-list .block-layered-nav{border-top:3px solid #000;border-bottom:3px solid #000;position: relative;height: 60px; }
.flash-sale-list .block-layered-nav #narrow-by-list{margin: 0;display: inline-table;}
.flash-sale-list .block-layered-nav .filter-content{ /*width:200px;*/ float: left; border-bottom: none;padding: 0 70px;}
.flash-sale-list .block-layered-nav .filter-content .filter-item{position: relative;}
.flash-sale-list .block-layered-nav .filter-content .filter-item #filter-value-color_filter_1 dd.last div{padding: 10px 15px;}
.flash-sale-list .block-layered-nav .filter-content .filter-item #filter-value-size_shoes .filter-3-cols{padding:5px;margin-bottom: 10px;}
.flash-sale-list .block-layered-nav .filter-content .filter-item .filter-3-cols{padding: 10px 15px;}
.flash-sale-list .block-layered-nav .filter-content #filter-list{margin-top: 10px;position: absolute;}
.flash-sale-list .block-layered-nav .filter-content #filter-list .refine-result ul li span{text-transform: none;}
.flash-sale-list .block-layered-nav .block-content{text-align: center;}
.flash-sale-list .block-layered-nav .filter-item-size_clothing .filter-value{padding: 0 0 10px;}
.flash-sale-list .block-layered-nav .filter-value{background-color: #fff; font-size: 11px;position: absolute; z-index: 70; width: 190px;left: 0px;top: 57px; }
.flash-sale-list .block-layered-nav .filter-value dd{margin-bottom: 0;}
/*.flash-sale-list .block-layered-nav #filter-value-product-type{left: 215px;}*/
/*.flash-sale-list .block-layered-nav #filter-value-brand{left: 410px;}*/
/*.flash-sale-list .block-layered-nav #filter-value-size_shoes{left:830px;}*/
/*.flash-sale-list .block-layered-nav #filter-value-color_filter_1{left:615px;}*/

.flash-sale-list .block-layered-nav ol{margin: 0;padding: 8px;}
.flash-sale-list .block-layered-nav #filter-value-size_clothing ol{padding:8px 13px;}
.flash-sale-list .block-layered-nav .filter-name{font: 20px Futura bk bt,"Microsoft YaHei","微軟雅黑";color: #000;background: url(../images/flashsale_arrow.png) right 28px no-repeat;padding: 20px 20px 25px 0;display: block;}
.flash-sale-list .block-layered-nav .filter-name:hover{cursor: pointer;text-decoration: underline;}
.flash-sale-list .block-layered-nav .m-filter-item a{font:13px Arial;color: #808080;text-transform: none;}
.flash-sale-list .block-layered-nav .m-filter-item a:hover{color:#000;}
.flash-sale-list .block-layered-nav #filter-value-brand .m-filter-item a{background: url(../images/checkbox.gif) 0px 3px no-repeat;padding-left: 20px;}
.flash-sale-list .block-layered-nav #filter-value-brand .m-filter-item a.brand-selected{background: url(../images/checkbox_on.gif) 0px 3px no-repeat !important;}
.flash-sale-list .block-layered-nav .m-filter-item{ text-align: left;padding: 3px 0; }
.flash-sale-list .block-layered-nav #filter-value-product-type .m-filter-item{padding:3px 10px;}
.flash-sale-list .block-layered-nav #filter-value-color_filter_1 .m-filter-item-list{padding: 8px 15px;padding-left: 15px\0;padding-right: 0\0;}
.flash-sale-list .block-layered-nav #filter-value-color_filter_1{padding-bottom: 10px;}
.flash-sale-list .block-layered-nav #filter-value-color_filter_1 .m-filter-item{padding: 3px;}
.flash-sale-list .block-layered-nav #filter-value-size_clothing .m-filter-item-list,.flash-sale-list .block-layered-nav #filter-value-size_shoes .m-filter-item-list{padding:8px 13px;}
.flash-sale-list .block-layered-nav #filter-value-size_clothing .m-filter-item,.flash-sale-list .block-layered-nav #filter-value-size_shoes .m-filter-item{display: inline-block;float: left;padding: 2px 0px;background: #e4e4e4;margin:4px;width: 33px;height: 20px;text-align: center;}
.flash-sale-list .block-layered-nav #filter-value-size_clothing .m-filter-item:hover,.flash-sale-list .block-layered-nav #filter-value-size_shoes .m-filter-item:hover{opacity: 0.7;}
.flash-sale-list .block-layered-nav #filter-value-size_clothing .m-filter-item a,.flash-sale-list .block-layered-nav #filter-value-size_shoes .m-filter-item a{width: 33px;height:20px;display: inline-block;margin-top: -1px;}
.flash-sale-list .block-layered-nav #filter-value-size_clothing dd.last,.flash-sale-list .block-layered-nav #filter-value-size_shoes dd.last{padding: 0 0 10px;}
.flash-sale-list .block-layered-nav .m-filter-item label{color:#000;}
.flash-sale-list .filter-name-result span img{padding-right: 10px;}
.flash-sale-list .filter-value{ text-align: left; margin-left: -5px; top: 27px;padding: 0; z-index: 999; box-shadow: 0 0px 13px rgba(0,0,0,0.15);
    -moz-box-shadow: 0 0px 13px rgba(0,0,0,0.15); -webkit-box-shadow: 0 0px 13px rgba(0,0,0,0.15);
    border-bottom: none; border-left: none;  border-right: none;
}
#flash_terms_and_condition {width: 450px !important; padding: 7px 20px;}
#flash_terms_and_condition h1{text-transform: uppercase; text-align: left; margin-bottom: 20px;font: 30px Futura Bk BT,"Microsoft YaHei","微軟雅黑";color:#000;}
#flash_terms_and_condition ul{padding-left: 20px;}
#flash_terms_and_condition ul li {text-align: left;line-height: 18px; list-style: none;margin-bottom: 10px;font: 13px Arial;list-style-type: decimal;color:#808080;}
#terms_and_condition_popup_handler{ background: #000;color: #fff;text-transform: uppercase;padding: 6px 18px; position: absolute; right: 25px;top: -65px;}
.cms-index-index div.flash_sal_time{ position: absolute; top:0px; background: #fff;color:#000;height:120px;}
.flash-sale-list .filter-item-brand, .flash-sale-list .filter-item-price,.flash-sale-list .filter-item-color_filter_1,.flash-sale-list .filter-item-size_shoes,.flash-sale-list .filter-item-size_clothing,.flash-sale-list .filter-item-heel_height {
    background: none;
}
body.gri-flashsale-index-index .note-msg{padding-top:50px;}

@media only screen and (max-width:700px){
    #terms_and_condition_popup_handler{display:none;}
    #terms_and_condition_sf_handler{display: block !important;width:100%;padding:10px 0;background: #000;text-transform: uppercase;text-align: center;color:#fff;}
    #terms_and_condition_sf_handler:hover{opacity: 0.7;}
    .cms-flash-sale-terms-condition .std h1{font:25px Futura Bk BT,"Microsoft YaHei","微軟雅黑";color:#000;text-transform: uppercase;border-bottom: 1px solid #000;margin-bottom:20px; }
    .cms-flash-sale-terms-condition .std ul li{list-style-type: decimal;margin-left: 20px;font: 13px Arial;margin-bottom: 10px;}
    .flash-sale-list .block-layered-nav .block-content{box-shadow: none;padding: 0;}
    .flash-sale-list .block-layered-nav .filter-value{padding-left: 0;margin-top: -5px;margin-bottom: 10px;}
    .flash-sale-list .block-layered-nav .m-filter-item{padding-left: 5px !important;}
    .flash-sale-list .block-layered-nav #filter-value-size_shoes .m-filter-item,
    .flash-sale-list .block-layered-nav #filter-value-size_clothing .m-filter-item{padding-left: 0px !important;}
    .flash-sale-list .block-layered-nav #filter-value-color_filter_1{margin-bottom: 0;}
    .flash-sale-list .block-layered-nav .filter-content .filter-item{margin-right: 0;}
    .flash-sale-list .block-layered-nav .filter-name{color:#808080;padding:10px 0!important;border-top: 1px solid #e4e4e4;}
    .flash-sale-list .block-layered-nav .filter-content:first-child .filter-name{border-top: 0;}
    .flash-sale-list .block-layered-nav #narrow-by-list{border-bottom: 1px solid #e4e4e4;}
    .flash-sale-list .block-layered-nav .filter-name:hover{text-decoration: none;}
    .flash-sale-list .block-layered-nav #filter-value-product-type .m-filter-item a{background:url(../images/checkbox.gif) 0px 3px no-repeat;padding-left: 20px;}
    .flash-sale-list .block-layered-nav #filter-value-product-type .m-filter-item a.product-type-selected{background:url(../images/checkbox_on.gif) 0px 3px no-repeat !important;color: #000;font-weight: bold;}
    .flash-sale-list .block-layered-nav #filter-value-size_shoes .filter-value,
    .flash-sale-list .block-layered-nav #filter-value-size_clothing .filter-value{margin-bottom: 0;}
}

