<?xml version="1.0"?>
<config>
    <modules>
        <Gri_Shipping>
            <version>1.0.0</version>
        </Gri_Shipping>
    </modules>
    <global>
        <resources>
            <gri_shipping_setup>
                <setup>
                    <module>Gri_Shipping</module>
                </setup>
            </gri_shipping_setup>
        </resources>
        <models>
            <gri_shipping>
                <class>Gri_Shipping_Model</class>
                <resourceModel>gri_shipping_resource</resourceModel>
            </gri_shipping>
            <gri_shipping_resource>
                <class>Gri_Shipping_Model_Resource</class>
                <entities>
                </entities>
            </gri_shipping_resource>
            <shipping>
                <rewrite>
                    <shipping>Gri_Shipping_Model_Shipping</shipping>
                    <config>Gri_Shipping_Model_Config</config>
                    <carrier_tablerate>Gri_Shipping_Model_Carrier_Tablerate</carrier_tablerate>
                </rewrite>
            </shipping>
        </models>
        <blocks>
            <gri_shipping>
                <class>Gri_Shipping_Block</class>
            </gri_shipping>
        </blocks>
        <helpers>
            <gri_shipping>
                <class>Gri_Shipping_Helper</class>
            </gri_shipping>
        </helpers>
        <frontend>
            <translate>
                <modules>
                    <Gri_Shipping>
                        <files>
                            <default>Gri_Shipping.csv</default>
                        </files>
                    </Gri_Shipping>
                </modules>
            </translate>
        </frontend>
    </global>
</config>
