<?xml version="1.0"?>
<config>
    <modules>
        <Gri_Directory>
            <version>1.0.7</version>
        </Gri_Directory>
    </modules>
    <global>
        <resources>
            <gri_directory_setup>
                <setup>
                    <module>Gri_Directory</module>
                </setup>
            </gri_directory_setup>
        </resources>
        <models>
            <gri_directory>
                <class>Gri_Directory_Model</class>
                <resourceModel>gri_directory_resource</resourceModel>
            </gri_directory>
            <gri_directory_resource>
                <class>Gri_Directory_Model_Resource</class>
                <entities>
                    <region_city>
                        <table>directory_region_city</table>
                    </region_city>
                    <city_name>
                        <table>directory_city_name</table>
                    </city_name>
                </entities>
            </gri_directory_resource>
            <directory_resource>
                <rewrite>
                    <region_collection>Gri_Directory_Model_Resource_Region_Collection</region_collection>
                </rewrite>
            </directory_resource>
        </models>
        <blocks>
            <gri_directory>
                <class>Gri_Directory_Block</class>
            </gri_directory>
        </blocks>
        <helpers>
            <gri_directory>
                <class>Gri_Directory_Helper</class>
            </gri_directory>
        </helpers>
        <events>
        </events>
    </global>
    <frontend>
        <translate>
            <modules>
                <Gri_Directory>
                    <files>
                        <default>Gri_Directory.csv</default>
                    </files>
                </Gri_Directory>
            </modules>
        </translate>
    </frontend>
    <default>
        <general>
            <country>
                <optional_city_countries>SG</optional_city_countries>
            </country>
        </general>
    </default>
</config>
