<?xml version="1.0" encoding="utf-8" ?>
<config>
	<modules>
		<Gri_Ubl>
			<version>0.1.0</version>
		</Gri_Ubl>
	</modules>
	<admin>
		<routers>
			<adminhtml>
				<args>
					<modules>
						<Gri_Ubl_Admin before="Mage_Adminhtml">Gri_Ubl_Admin</Gri_Ubl_Admin>
					</modules>
				</args>
			</adminhtml>
		</routers>
	</admin>
	<adminhtml>
		<events>
			<admin_session_user_login_success>	
				<observers>
					<gri_ubl>
						<class>Gri_Ubl_Model_Observer</class>
						<method>load_locale</method>
					</gri_ubl>
				</observers>
			</admin_session_user_login_success>
			<gri_adminhtml_locale_change>
				<observers>
					<gri_ubl>
						<class>Gri_Ubl_Model_Observer</class>
						<method>saveLocaleChange</method>
					</gri_ubl>
				</observers>
			</gri_adminhtml_locale_change>
		</events>
	</adminhtml>
	<global>
		<models>
			<ubl>
				<class>Gri_Ubl_Model</class>
				<resourceModel>ubl_mysql4</resourceModel>
			</ubl>
			<ubl_mysql4>
				<class>Gri_Ubl_Model_Mysql4</class>
				<entities>
					<ubl>
						<table>gri_ubl</table>
					</ubl>
				</entities>
			</ubl_mysql4>
		</models>
		<resources>
			<ubl_setup>
				<setup>
					<module>Gri_Ubl</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</ubl_setup>
			<ubl_write>
				<connection>
					<use>core_write</use>
				</connection>
			</ubl_write>
			<ubl_read>
              	<connection>
					<use>core_read</use>
               	</connection>
			</ubl_read>
        	</resources>
	</global>
</config>
