<?xml version="1.0"?>
<config>
    <modules>
        <Gri_Newcomer>
            <version>1.0.0</version>
        </Gri_Newcomer>
    </modules>
    <global>
        <blocks>
            <newcomer>
                <class>Gri_Newcomer_Block</class>
            </newcomer>
        </blocks>
        <helpers>
            <newcomer>
                <class>Gri_Newcomer_Helper</class>
            </newcomer>
        </helpers>
        <models>
            <newcomer>
                <class>Gri_Newcomer_Helper</class>
            </newcomer>
        </models>
        <resources>
            <newcomer_setup>
                <setup>
                    <module>Gri_Newcomer</module>
                </setup>
            </newcomer_setup>
        </resources>
    </global>
    <frontend>
        <layout>
            <updates>
                <newcomer>
                    <file>gri/newcomer.xml</file>
                </newcomer>
            </updates>
        </layout>
        <translate>
            <modules>
                <Newcomer>
                    <files>
                        <default>Newcomer.csv</default>
                    </files>
                </Newcomer>
            </modules>
        </translate>
    </frontend>
    <default>
        <newcomer>
            <popup>
                <block_id>newcomer_popup</block_id>
            </popup>
        </newcomer>
    </default>
</config>
