<?xml version="1.0"?>
<config>
    <modules>
        <Gri_SalesRule>
            <version>1.0.0</version>
        </Gri_SalesRule>
    </modules>
    <global>
        <models>
            <gri_salesrule>
                <class>Gri_SalesRule_Model</class>
            </gri_salesrule>
            <sales>
                <rewrite>
                    <quote_item>Gri_SalesRule_Model_Quote_Item</quote_item>
                </rewrite>
            </sales>
            <salesrule>
                <rewrite>
                    <validator>Gri_SalesRule_Model_Validator</validator>
                    <rule_condition_product_subselect>Gri_SalesRule_Model_Rule_Condition_Product_Subselect</rule_condition_product_subselect>
                </rewrite>
            </salesrule>
        </models>
        <resources>
            <gri_salesrule_setup>
                <setup>
                    <module>Gri_SalesRule</module>
                </setup>
            </gri_salesrule_setup>
        </resources>
        <blocks>
            <gri_salesrule>
                <class>Gri_SalesRule_Block</class>
            </gri_salesrule>
        </blocks>
        <helpers>
            <gri_salesrule>
                <class>Gri_SalesRule_Helper</class>
            </gri_salesrule>
        </helpers>
        <events>
            <sales_quote_collect_totals_before>
                <observers>
                    <!--<gri_salesrule_applied_to_simple_product>
                        <class>gri_salesrule/observer</class>
                        <method>appliedToSimpleProduct</method>
                    </gri_salesrule_applied_to_simple_product>-->
                    <gri_salesrule_coupon_behaviour>
                        <class>gri_salesrule/observer</class>
                        <method>updateRuleBehaviour</method>
                    </gri_salesrule_coupon_behaviour>
                </observers>
            </sales_quote_collect_totals_before>
            <!-- Overrides Mage_SalesRule_Model_Observer::sales_order_afterPlace() -->
            <sales_order_place_after>
                <observers>
                    <salesrule>
                        <type>disabled</type>
                    </salesrule>
                </observers>
            </sales_order_place_after>
            <sales_order_invoice_pay>
                <observers>
                    <gri_salesrule_rule_usage>
                        <class>gri_salesrule/observer</class>
                        <method>updateRuleUsage</method>
                    </gri_salesrule_rule_usage>
                </observers>
            </sales_order_invoice_pay>
            <!-- End of Override -->
        </events>
    </global>
    <default>
        <gri_salesrule>
            <cart>
                <original_price>0</original_price>
            </cart>
        </gri_salesrule>
    </default>
</config>
