<?xml version="1.0"?>
<config>
    <modules>
        <Gri_Customer>
            <version>1.0.4</version>
        </Gri_Customer>
    </modules>
    <global>
        <resources>
            <gri_customer_setup>
                <setup>
                    <module>Gri_Customer</module>
                    <class>Mage_Customer_Model_Resource_Setup</class>
                </setup>
            </gri_customer_setup>
        </resources>
        <models>
            <gri_customer>
                <class>Gri_Customer_Model</class>
            </gri_customer>
            <customer>
                <rewrite>
                    <customer>Gri_Customer_Model_Customer</customer>
                </rewrite>
            </customer>
            <persistent>
                <rewrite>
                    <observer>Gri_Customer_Model_Observer</observer>
                </rewrite>
            </persistent>
        </models>
        <blocks>
            <gri_customer>
                <class>Gri_Customer_Block</class>
            </gri_customer>
            <customer>
                <rewrite>
                    <account_dashboard>Gri_Customer_Block_Account_Dashboard</account_dashboard>
                    <account_forgotpassword>Gri_Customer_Block_Account_Forgotpassword</account_forgotpassword>
                    <address_book>Gri_Customer_Block_Address_Book</address_book>
                    <address_edit>Gri_Customer_Block_Address_Edit</address_edit>
                    <form_login>Gri_Customer_Block_Form_Login</form_login>
                    <form_edit>Gri_Customer_Block_Form_Edit</form_edit>
                    <form_register>Gri_Customer_Block_Form_Register</form_register>
                    <newsletter>Gri_Customer_Block_Newsletter</newsletter>
                </rewrite>
            </customer>
        </blocks>
        <helpers>
            <gri_customer>
                <class>Gri_Customer_Helper</class>
            </gri_customer>
        </helpers>
        <events>
            <customer_save_after>
                <observers>
                    <newsletter_subscribe_observer>
                        <class>gri_customer/observer</class>
                        <method>subscribeOrUnsubscribeCustomer</method>
                    </newsletter_subscribe_observer>
                </observers>
             </customer_save_after>
        </events>
        <fieldsets>
            <customer_address>
                <city_id>
                    <to_quote_address>*</to_quote_address>
                </city_id>
            </customer_address>
            <sales_convert_order_address>
                <city_id>
                    <to_quote_address>*</to_quote_address>
                </city_id>
            </sales_convert_order_address>
            <sales_convert_quote_address>
                <city_id>
                    <to_order_address>*</to_order_address>
                    <to_customer_address>*</to_customer_address>
                </city_id>
            </sales_convert_quote_address>
            <sales_copy_order_billing_address>
                <city_id>
                    <to_order>*</to_order>
                </city_id>
            </sales_copy_order_billing_address>
        </fieldsets>
    </global>
    <frontend>
        <routers>
            <customer>
                <args>
                    <modules>
                        <Gri_Customer before="Mage_Sales">Gri_Customer</Gri_Customer>
                    </modules>
                </args>
            </customer>
        </routers>
        <events>
            <controller_action_predispatch_customer_account_loginPost>
                <observers>
                    <gri_customer>
                        <class>gri_customer/observer</class>
                        <method>setBeforeAuthUrl</method>
                    </gri_customer>
                </observers>
            </controller_action_predispatch_customer_account_loginPost>
        </events>
        <translate>
            <modules>
                <Gri_Customer>
                    <files>
                        <default>Gri_Customer.csv</default>
                    </files>
                </Gri_Customer>
            </modules>
        </translate>
    </frontend>
    <default>
        <customer>
            <online_chat>
                <enabled>1</enabled>
            </online_chat>
            <twitter>
               <follow_us>http://twitter.com/</follow_us>
               <enabled>1</enabled>
               <share>https://twitter.com/intent/tweet</share>
            </twitter>
            <youtube>
               <follow_us>http://www.youtube.com/user/HKCentralCentral?feature=watch</follow_us>
               <enabled>1</enabled>
            </youtube>
            <pinterest>
                <follow_us>http://pinterest.com/</follow_us>
                <enabled>1</enabled>
                <share>http://pinterest.com/pin/create/button/?</share>
            </pinterest>
        </customer>
    </default>
</config>
