<?xml version="1.0"?>
<config>
    <modules>
        <Gri_FlashSale>
            <version>1.0.9</version>
        </Gri_FlashSale>
    </modules>
    <global>
        <resources>
            <gri_flashsale_setup>
                <setup>
                    <module>Gri_FlashSale</module>
                </setup>
            </gri_flashsale_setup>
        </resources>
        <models>
            <gri_flashsale>
                <class>Gri_FlashSale_Model</class>
                <resourceModel>gri_flashsale_resource</resourceModel>
            </gri_flashsale>
            <gri_flashsale_resource>
                <class>Gri_FlashSale_Model_Resource</class>
                <entities>
                    <flashsale><table>gri_flashsale</table></flashsale>
                    <flashsale_product><table>gri_flashsale_product</table></flashsale_product>
                    <flashsale_product_ordered><table>gri_flashsale_product_ordered</table></flashsale_product_ordered>
                </entities>
            </gri_flashsale_resource>
        </models>
        <blocks>
            <gri_flashsale>
                <class>Gri_FlashSale_Block</class>
            </gri_flashsale>
        </blocks>
        <helpers>
            <gri_flashsale>
                <class>Gri_FlashSale_Helper</class>
            </gri_flashsale>
        </helpers>
        <events>
            <sales_model_service_quote_submit_before>
                <observers>
                    <gri_flashsale>
                        <class>gri_flashsale/observer</class>
                        <method>updateQtyOrdered</method>
                    </gri_flashsale>
                </observers>
            </sales_model_service_quote_submit_before>
            <sales_model_service_quote_submit_failure>
                <observers>
                    <gri_flashsale>
                        <class>gri_flashsale/observer</class>
                        <method>revertQtyOrdered</method>
                    </gri_flashsale>
                </observers>
            </sales_model_service_quote_submit_failure>
            <sales_order_item_cancel>
                <observers>
                    <gri_flashsale>
                        <class>gri_flashsale/observer</class>
                        <method>cancelOrderItem</method>
                    </gri_flashsale>
                </observers>
            </sales_order_item_cancel>
            <catalog_product_is_salable_after>
                <observers>
                    <gri_flashsale>
                        <class>gri_flashsale/observer</class>
                        <method>checkIsSalable</method>
                    </gri_flashsale>
                </observers>
            </catalog_product_is_salable_after>
            <catalog_controller_product_init>
                <observers>
                    <gri_flashsale>
                        <class>gri_flashsale/observer</class>
                        <method>initProductView</method>
                    </gri_flashsale>
                </observers>
            </catalog_controller_product_init>
            <!--<model_save_after>-->
                <!--<observers>-->
                    <!--<gri_flashsale>-->
                        <!--<class>gri_flashsale/observer</class>-->
                        <!--<method>updateFlashSaleCategoryProducts</method>-->
                    <!--</gri_flashsale>-->
                <!--</observers>-->
            <!--</model_save_after>-->
            <!--<model_delete_after>-->
                <!--<observers>-->
                    <!--<gri_flashsale>-->
                        <!--<class>gri_flashsale/observer</class>-->
                        <!--<method>updateFlashSaleCategoryProducts</method>-->
                    <!--</gri_flashsale>-->
            <!--</observers>-->
            <!--</model_delete_after>-->
        </events>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <gri_flashsale>
                    <file>gri/flashsale.xml</file>
                </gri_flashsale>
            </updates>
        </layout>
    </adminhtml>
    <admin>
        <routers>
            <flashsale_admin>
                <use>admin</use>
                <args>
                    <module>Gri_FlashSale_Adminhtml</module>
                    <frontName>flashsale_admin</frontName>
                </args>
            </flashsale_admin>
        </routers>
    </admin>
    <frontend>
        <routers>
            <gri_flashsale>
                <use>standard</use>
                <args>
                    <module>Gri_FlashSale</module>
                    <frontName>flashsale</frontName>
                </args>
            </gri_flashsale>
        </routers>
        <layout>
            <updates>
                <gri_flashsale>
                    <file>gri/flashsale.xml</file>
                </gri_flashsale>
            </updates>
        </layout>
        <events>
            <catalog_product_before_get_final_price>
                <observers>
                    <flash_sale_final_price>
                        <class>gri_flashsale/observer</class>
                        <method>updateFinalPrice</method>
                    </flash_sale_final_price>
                </observers>
            </catalog_product_before_get_final_price>
        </events>
        <translate>
            <modules>
                <Gri_FlashSale>
                    <files>
                        <default>Gri_FlashSale.csv</default>
                    </files>
                </Gri_FlashSale>
            </modules>
        </translate>
    </frontend>
    <default>
        <flashsale>
            <settings>
                <enabled>1</enabled>
                <flashsale_per_page>30</flashsale_per_page>
            </settings>
        </flashsale>
    </default>
</config>
