<?xml version="1.0"?>
<config>
    <modules>
        <Gri_Wishlist>
            <version>1.0.0</version>
        </Gri_Wishlist>
    </modules>
    <global>
        <models>
            <gri_wishlist>
                <class>Gri_Wishlist_Model</class>
                <resourceModel>gri_wishlist_resource</resourceModel>
            </gri_wishlist>
            <gri_wishlist_resource>
                <class>Gri_Wishlist_Model_Resource</class>
                <entities>
                </entities>
            </gri_wishlist_resource>
            <wishlist>
                <rewrite>
                    <item>Gri_Wishlist_Model_Item</item>>
                </rewrite>
            </wishlist>
        </models>
        <blocks>
            <gri_wishlist>
                <class>Gri_Wishlist_Block</class>
            </gri_wishlist>
            <wishlist>
                <rewrite>
                    <customer_wishlist>Gri_Wishlist_Block_Customer_Wishlist</customer_wishlist>
                    <customer_wishlist_item_column_cart>Gri_Wishlist_Block_Customer_Wishlist_Item_Column_Cart</customer_wishlist_item_column_cart>
                    <customer_wishlist_items>Gri_Wishlist_Block_Customer_Wishlist_Items</customer_wishlist_items>
                </rewrite>
            </wishlist>
        </blocks>
        <helpers>
            <gri_wishlist>
                <class>Gri_Wishlist_Helper</class>
            </gri_wishlist>
        </helpers>
    </global>
    <frontend>
        <routers>
            <wishlist>
                <args>
                    <modules>
                        <Gri_Wishlist before="Mage_Wishlist">Gri_Wishlist</Gri_Wishlist>
                    </modules>
                </args>
            </wishlist>
        </routers>
        <translate>
            <modules>
                <Gri_Wishlist>
                    <files>
                        <default>Gri_Wishlist.csv</default>
                    </files>
                </Gri_Wishlist>
            </modules>
        </translate>
    </frontend>
</config>
