<?xml version="1.0"?>
<config>
    <modules>
        <Gri_SimplePrice>
            <version>1.0.0</version>
        </Gri_SimplePrice>
    </modules>
    <global>
        <resources>
            <gri_simpleprice_setup>
                <setup>
                    <module>Gri_SimplePrice</module>
                </setup>
            </gri_simpleprice_setup>
        </resources>
        <models>
            <gri_simpleprice>
                <class>Gri_SimplePrice_Model</class>
                <resourceModel>gri_simpleprice_resource</resourceModel>
            </gri_simpleprice>
            <gri_simpleprice_resource>
                <class>Gri_SimplePrice_Model_Resource</class>
            </gri_simpleprice_resource>
        </models>
        <blocks>
            <gri_simpleprice>
                <class>Gri_SimplePrice_Block</class>
            </gri_simpleprice>
        </blocks>
        <helpers>
            <gri_simpleprice>
                <class>Gri_SimplePrice_Helper</class>
            </gri_simpleprice>
        </helpers>
        <events>
        </events>
    </global>
    <frontend>
        <layout>
            <updates>
                <gri_simpleprice>
                    <file>gri/simpleprice.xml</file>
                </gri_simpleprice>
            </updates>
        </layout>
        <events>
            <catalog_product_get_final_price>
                <observers>
                    <flash_sale_final_price>
                        <class>gri_simpleprice/observer</class>
                        <method>updateSimplePrice</method>
                    </flash_sale_final_price>
                </observers>
            </catalog_product_get_final_price>
        </events>
        <translate>
            <modules>
                <Gri_SimplePrice>
                    <files>
                        <default>Gri_SimplePrice.csv</default>
                    </files>
                </Gri_SimplePrice>
            </modules>
        </translate>
    </frontend>
    <default>
        <simpleprice>
            <settings>
                <enabled>1</enabled>
            </settings>
        </simpleprice>
    </default>
</config>
