<?xml version="1.0"?>
<config>
    <modules>
        <Gri_Affiliate>
            <version>1.0.1</version>
        </Gri_Affiliate>
    </modules>
    <global>
        <resources>
            <gri_affiliate_setup>
                <setup>
                    <module>Gri_Affiliate</module>
                </setup>
            </gri_affiliate_setup>
        </resources>
        <models>
            <gri_affiliate>
                <class>Gri_Affiliate_Model</class>
                <resourceModel>gri_affiliate_resource</resourceModel>
            </gri_affiliate>
            <gri_affiliate_resource>
                <class>Gri_Affiliate_Model_Resource</class>
                <entities>
                    <order>
                        <table>gri_affiliate_order</table>
                    </order>
                </entities>
            </gri_affiliate_resource>
        </models>
        <blocks>
            <gri_affiliate>
                <class>Gri_Affiliate_Block</class>
            </gri_affiliate>
        </blocks>
        <helpers>
            <gri_affiliate>
                <class>Gri_Affiliate_Helper</class>
            </gri_affiliate>
        </helpers>
        <events>
            <controller_front_init_routers>
                <observers>
                    <gri_identify_affiliate>
                        <class>gri_affiliate/observer</class>
                        <method>identifyAffiliate</method>
                    </gri_identify_affiliate>
                </observers>
            </controller_front_init_routers>
        </events>
    </global>
    <frontend>
        <events>
            <sales_model_service_quote_submit_success>
                <observers>
                    <gri_affiliate>
                        <class>gri_affiliate/observer</class>
                        <method>createAffiliateOrder</method>
                    </gri_affiliate>
                </observers>
            </sales_model_service_quote_submit_success>
        </events>
        <routers>
            <gri_affiliate>
                <use>standard</use>
                <args>
                    <module>Gri_Affiliate</module>
                    <frontName>affiliate</frontName>
                </args>
            </gri_affiliate>
        </routers>
        <layout>
            <updates>
                <gri_affiliate>
                    <file>gri/affiliate.xml</file>
                </gri_affiliate>
            </updates>
        </layout>
        <translate>
            <modules>
                <Gri_Affiliate>
                    <files>
                        <default>Gri_Affiliate.csv</default>
                    </files>
                </Gri_Affiliate>
            </modules>
        </translate>
    </frontend>
    <affiliate>
        <chinesean>
            <class>gri_affiliate/affiliate_chinesean</class>
        </chinesean>
        <linktech>
            <class>gri_affiliate/affiliate_linktech</class>
        </linktech>
        <yiqifa>
            <class>gri_affiliate/affiliate_yiqifa</class>
        </yiqifa>
    </affiliate>
    <default>
        <gri_affiliate>
            <general>
                <identical_param>affiliate</identical_param>
            </general>
            <chinesean>
                <cookie_life>30</cookie_life>
                <sent_limit>2</sent_limit>
            </chinesean>
            <linktech>
                <rd_life>30</rd_life>
                <sent_limit>2</sent_limit>
            </linktech>
            <yiqifa>
                <rd_life>30</rd_life>
                <sent_limit>2</sent_limit>
            </yiqifa>
        </gri_affiliate>
    </default>
</config>
