<?xml version="1.0"?>
<config>
    <sections>
        <gri_affiliate translate="label" module="gri_affiliate">
            <label>Affiliate Marketing</label>
            <tab>gri</tab>
            <frontend_type>text</frontend_type>
            <sort_order>1100</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>0</show_in_website>
            <show_in_store>0</show_in_store>
            <groups>
                <general translate="label">
                    <label>General Settings</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>100</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>0</show_in_website>
                    <show_in_store>0</show_in_store>
                    <fields>
                        <identical_param translate="label">
                            <label>Identical parameter</label>
                            <comment><![CDATA[The parameter in landing page to indicate current affiliate.]]></comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </identical_param>
                    </fields>
                </general>
                <chinesean translate="label">
                    <label>ChineseAN Settings</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>200</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>0</show_in_website>
                    <show_in_store>0</show_in_store>
                    <fields>
                        <enabled translate="label">
                            <label>Enabled</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </enabled>
                        <convert_currency translate="label">
                            <label>Convert Currency</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </convert_currency>
                        <currency translate="label">
                            <label>Currency</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_currency</source_model>
                            <depends>
                                <convert_currency>1</convert_currency>
                            </depends>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </currency>
                        <pid translate="label">
                            <label>PID</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </pid>
                        <hash_key translate="label">
                            <label>Hash Key</label>
                            <comment><![CDATA[Optional]]></comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>50</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </hash_key>
                        <cookie_life translate="label">
                            <label>Cookie Life</label>
                            <comment><![CDATA[Cookie life time in days. 30 by default.]]></comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>60</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </cookie_life>
                        <sent_limit translate="label">
                            <label>Sent Limit</label>
                            <comment><![CDATA[Maximum orders to be sent in cookie life time. 2 by default.]]></comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>70</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </sent_limit>
                    </fields>
                </chinesean>
                <linktech translate="label">
                    <label>LinkTech Settings</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>300</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>0</show_in_website>
                    <show_in_store>0</show_in_store>
                    <fields>
                        <enabled translate="label">
                            <label>Enabled</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </enabled>
                        <convert_currency translate="label">
                            <label>Convert Currency</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </convert_currency>
                        <currency translate="label">
                            <label>Currency</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_currency</source_model>
                            <depends>
                                <convert_currency>1</convert_currency>
                            </depends>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </currency>
                        <m_id translate="label">
                            <label>M_ID</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </m_id>
                        <rd_life translate="label">
                            <label>RD Life</label>
                            <comment><![CDATA[Days, 30 by default]]></comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>50</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </rd_life>
                        <sent_limit translate="label">
                            <label>Sent Limit</label>
                            <comment><![CDATA[Maximum orders to be sent in cookie life time. 2 by default.]]></comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>60</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </sent_limit>
                    </fields>
                </linktech>
                <yiqifa translate="label">
                    <label>Yiqifa Settings</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>400</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>0</show_in_website>
                    <show_in_store>0</show_in_store>
                    <fields>
                        <enabled translate="label">
                            <label>Enabled</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </enabled>
                        <convert_currency translate="label">
                            <label>Convert Currency</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </convert_currency>
                        <currency translate="label">
                            <label>Currency</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_currency</source_model>
                            <depends>
                                <convert_currency>1</convert_currency>
                            </depends>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </currency>
                        <for_test translate="label">
                            <label>For Testing Only</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>35</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </for_test>
                        <cid translate="label">
                            <label>CID</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </cid>
                        <src translate="label">
                            <label>SRC</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>50</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </src>
                        <wi translate="label">
                            <label>WI</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>60</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </wi>
                        <rd_life translate="label">
                            <label>RD Life</label>
                            <comment><![CDATA[Days, 30 by default]]></comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>70</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </rd_life>
                        <sent_limit translate="label">
                            <label>Sent Limit</label>
                            <comment><![CDATA[Maximum orders to be sent in cookie life time. 2 by default.]]></comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>80</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </sent_limit>
                    </fields>
                </yiqifa>
            </groups>
        </gri_affiliate>
    </sections>
</config>
