<!--@subject 密码重设通知 @-->
<!--@vars
{"store url=\"\"":"Store Url",
"var logo_url":"Email Logo Image Url",
"var logo_alt":"Email Logo Image Alt",
"store url=\"customer/account/\"":"Customer Account Url",
"htmlescape var=$customer.name":"Customer Name",
"htmlescape var=$customer.password":"Customer New Password"}
@-->
<!--@styles
body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
@-->

{{block type='core/template' area='frontend' template='email/header.phtml'}}
<h1 style="font-size:13px; font-weight:normal; line-height:22px; margin:35px 0 10px 0;color:#000;">亲爱的 {{htmlescape var=$customer.name}},</h1>
<p style="font-size:12px; line-height:16px;color:#000;">我们收到了重设与此电子邮件地址关联的密码的请求。</p>
<p style="font-size:12px; line-height:16px;color:#000;"><strong>您的密码：</strong> {{htmlescape var=$customer.password}}</p>
<br />
<br />
<br />
<br />
{{block type='core/template' area='frontend' template='email/footer.phtml'}}