<?xml version="1.0"?>
<config>
    <modules>
        <Gri_ColorFilter>
            <version>0.1.0</version>
        </Gri_ColorFilter>
    </modules>
    <global>
        <resources>
            <gri_colorfilter_setup>
                <setup>
                    <module>Gri_ColorFilter</module>
                </setup>
            </gri_colorfilter_setup>
        </resources>
        <models>
            <gri_colorfilter>
                <class>Gri_ColorFilter_Model</class>
                <resourceModel>gri_colorfilter_resource</resourceModel>
            </gri_colorfilter>
            <gri_colorfilter_resource>
                <class>Gri_ColorFilter_Model_Resource</class>
                <entities>
                    <colorfilter><table>gri_colorfilter</table></colorfilter>
                </entities>
            </gri_colorfilter_resource>
        </models>
        <blocks>
            <gri_colorfilter>
                <class>Gri_ColorFilter_Block</class>
            </gri_colorfilter>
        </blocks>
        <helpers>
            <gri_colorfilter>
                <class>Gri_ColorFilter_Helper</class>
            </gri_colorfilter>
        </helpers>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <gri_colorfilter>
                    <file>gri/colorfilter.xml</file>
                </gri_colorfilter>
            </updates>
        </layout>
    </adminhtml>
    <admin>
        <routers>
            <gri_colorfilter>
                <use>admin</use>
                <args>
                    <module>Gri_ColorFilter_Adminhtml</module>
                    <frontName>gri_colorfilter</frontName>
                </args>
            </gri_colorfilter>
        </routers>
    </admin>
    <frontend>
        <routers>
            <gri_colorfilter>
                <use>standard</use>
                <args>
                    <module>Gri_ColorFilter</module>
                    <frontName>colorfilter</frontName>
                </args>
            </gri_colorfilter>
        </routers>
        <layout>
            <updates>
                <gri_colorfilter>
                    <file>gri/colorfilter.xml</file>
                </gri_colorfilter>
            </updates>
        </layout>
    </frontend>
    <default>
        <colorfilter>
            <settings>
                <enabled>1</enabled>
            </settings>
            <image>
                <width>20</width>
                <height>20</height>
            </image>
        </colorfilter>
    </default>
</config>
