<?xml version="1.0"?>
<config>
    <modules>
        <Gri_Newsletter>
            <version>1.0.0</version>
        </Gri_Newsletter>
    </modules>
    <global>
        <models>
            <gri_newsletter>
                <class>Gri_Newsletter_Model</class>
                <resourceModel>gri_newsletter_resource</resourceModel>
            </gri_newsletter>
            <gri_newsletter_resource>
                <class>Gri_Newsletter_Model_Resource</class>
                <entities>
                </entities>
            </gri_newsletter_resource>
            <newsletter>
                <rewrite>
                    <subscriber>Gri_Newsletter_Model_Subscriber</subscriber>
                </rewrite>
            </newsletter>
        </models>
        <helpers>
            <gri_newsletter>
                <class>Gri_Newsletter_Helper</class>
            </gri_newsletter>
        </helpers>
    </global>
    <frontend>
        <routers>
            <gri_newsletter>
                <use>standard</use>
                <args>
                    <module>Gri_Newsletter</module>
                    <frontName>subscribe</frontName>
                </args>
            </gri_newsletter>
        </routers>
    </frontend>
</config>
